<a href="https://colab.research.google.com/github/brendanpshea/database_sql/blob/main/Database_12_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Database Concepts: A Review
### Brendan Shea, PhD
In this chapter, we're going to review the main concepts of database design and implementation we've talked about, including:

1. The purpose of databases.
2. The relational model and alternatives to it.
3. The Conceptual Model of data, and the role of business rules and entity-relationship diagrams.
4. The Physical Model of data, and how we go about implementing the Conceptual in a particular database management system.
5. A brief review of some main concepts of SQL, this time using MySQL (an open-source DMBS owned by Oracle).

This chapter is aligned to the learning outcomes of the **Oracle Database Foundatations Exam** (https://education.oracle.com/oracle-database-foundations-novice-level-exam/pexam_1Z0-006), which is a baseline certification focused on database design and implementation. If you've completed this class, studying for and taking this exam might be a "next step" for you in your database career.

## What is a Database?

A **database** is a structured collection of data that is stored and retrieved electronically. Databases are designed to manage, process, and store data efficiently, supporting a variety of operations such as querying, updating, and administration. They are crucial in numerous applications, ranging from simple systems like contact management in phones to complex ones like high-frequency trading systems. The utility of databases lies in their ability to handle vast amounts of data that are subject to complex querying and analysis, their robustness in data integrity and security, and their adeptness at allowing concurrent access by multiple users.

Databases are generally managed by a **Database Management System (DBMS)**, which provides the tools and functionalities to perform various operations on the data. This includes **SQL (Structured Query Language)**, a standardized language used to interact with relational databases.

The main difference between databases and flat files lies in their structure and capabilities. A **flat file** is a plain text or binary file that stores data in a plain text format where each line holds one record and fields are separated by delimiters. Flat files are simple and easy to understand but lack the advanced functionalities of databases. They are not designed for complex querying, data integrity is not enforced, and concurrent access is limited. In contrast, databases, particularly relational databases, are structured in tables composed of rows and columns, which can be related to each other through keys. This structure supports complex data relationships and operations, which are not possible with flat files.

### Example:

Consider a simple database for a grocery store that includes tables for `Customers`, `Orders`, and `Products`. The `Products` table might have columns for `ProductID`, `Name`, `Category`, and `Price`, while the `Orders` table relates `CustomerID` to `ProductID` and includes details like `Quantity` and `OrderDate`.

In contrast, a flat file equivalent would be a CSV file named `products.csv` with rows of comma-separated values representing each product. For instance:

```
ProductID,Name,Category,Price
1,Apple,Fruit,0.30
2,Bread,Bakery,1.50
...
```

While you could search this flat file for a product name using a text search, a SQL query against the database could perform more complex operations, like joining the `Products` table to the `Orders` table to find all customers who purchased apples. Here is what a SQL query might look like:

```sql
SELECT Customers.Name, Orders.OrderDate, Products.Name, Orders.Quantity
FROM Orders
JOIN Customers ON Orders.CustomerID = Customers.CustomerID
JOIN Products ON Orders.ProductID = Products.ProductID
WHERE Products.Name = 'Apple';
```

This query would not only retrieve the list of customers who bought apples but also provide the dates of purchase and quantity, which would be non-trivial to achieve with a flat file.

## What is a relational database?
A **relational database** is a collection of data items with pre-defined relationships between them. These items are organized as a set of tables with columns and rows. Tables, which are also known as relations, allow the database to manage data in a structured way. Each table contains rows (also known as records or tuples), and each row represents a single, implicitly structured data item. Columns contain the data attributes of the entity that is modeled by the table.

Key concepts include
- **Tables** store data about a particular type of object, like ingredients or recipes.
- A **primary key** is a unique identifier for table records, while foreign keys link a record to another record in a different table, allowing for the relational aspect.
- **Relationships** describe how data in one table relates to data in another; this is crucial in maintaining data integrity.
- **Normalization** is the process of organizing data to reduce redundancy and improve data integrity.

### Example:

Imagine a relational database designed to manage a recipe book. We could have one table for `Ingredients` and another for `Recipes`. In a normalized structure, we also need a junction table to handle the many-to-many relationship between these entities, as each recipe can have multiple ingredients, and each ingredient can be used in multiple recipes.

**Ingredients Table:**

| IngredientID | Name      | Category  |
|--------------|-----------|-----------|
| 1            | Avocado   | Fruit     |
| 2            | Onion     | Vegetable |
| 3            | Tomato    | Fruit     |
| 4            | Lime      | Fruit     |
| 5            | Cilantro  | Herb      |

**Recipes Table:**

| RecipeID | Name       |
|----------|------------|
| 1        | Guacamole  |
| 2        | Salsa      |


**RecipeIngredients Junction Table:**

| RecipeID | IngredientID |
|----------|--------------|
| 1        | 1            |
| 1        | 2            |
| 1        | 3            |
| 1        | 4            |
| 1        | 5            |
| 2        | 3            |
| 2        | 2            |

Here, `IngredientID` and `RecipeID` are primary keys for their respective tables, ensuring uniqueness. The `RecipeIngredients` table is a junction table that uses `IngredientID` and `RecipeID` as foreign keys to establish a many-to-many relationship between `Ingredients` and `Recipes`.

## Benefits of Relational Databases

Relational databases are widely used because of their support for **data integrity**, their reduction of **redundancy** and **anomalies** and support **transactions** and **security** among other things.

### Data Integrity

This is the assurance of the accuracy and consistency of data within a database both at a given moment and over time. Data integrity is enforced through various types of integrity constraints:

-   **Entity Integrity--** Ensures each row in a table is unique and identifiable by a primary key.
-   **Referential Integrity--**Maintains the consistency of relationships between tables when data is modified.
-   **Domain Integrity--**Confirms that all data entries in a column fall within the valid range of values for that column.

### Reduced Redundancy and Anomalies
Relational databases are designed to minimize the duplication of information. This structure is achieved through the process of normalization. By doing so, it decreases the chances of data anomalies:

-   **Insertion Anomaly--**Occurs when certain data cannot be inserted into the database due to the absence of other data.
-   **Deletion Anomaly--**Happens when deleting data inadvertently removes additional data that should be retained.
-   **Update Anomaly--**Occurs when updates to data are not correctly propagated, leading to inconsistent data.

### Transactions and ACID Properties
Transactions in relational databases are a set of operations that are executed in a series, where either all or none of the operations are performed, ensuring data integrity. ACID properties describe the transaction standards in relational databases:

-   **Atomicity--**Transactions are treated as a single unit, which either completely succeed or fail.
-   **Consistency--**Transactions transition the database from one valid state to another, maintaining database invariants.
-   **Isolation--**Transactions do not affect each other, even when executed concurrently.
-   **Durability--**Once a transaction is committed, it remains so, even in the event of a system failure.

### Security
Security in relational databases is about protecting data from unauthorized access or alterations, thereby ensuring its confidentiality, integrity, and availability. It includes mechanisms such as:

-   **Authentication--**Verifying the identity of a user accessing the database.
-   **Authorization--**Determining the level of access and permissions granted to authenticated users.
-   **Encryption--**Transforming data into a secure format that cannot be easily interpreted without a decryption key.

## Whare are Some Alternative Data Models?
The relational data model has been the dominant force in data storage for several decades, but alternative data models have existed historically and continue to be developed to address specific needs that the relational model may not fulfill optimally.

### Hierarchical Data Model
One of the earliest alternatives to the relational data model is the **hierarchical data model**. In this model, data is organized into a tree-like structure, implying a single upward link. This model represents relationships in a parent-child hierarchy, with each parent potentially having many children but each child having only one parent. It was prominently used in early mainframe DBMS. An example of such a system is IBM's Information Management System (IMS). Modern databases support for sub-type and supertype structures provides some support for this data model, as well. Example:

- Recipe: Guacamole
  - Ingredient: Avocado
    - Quantity: 3
  - Ingredient: Onion
    - Quantity: 1
  - Ingredient: Tomato
    - Quantity: 2


### Network Data Model
Another historical alternative is the **network data model**. Similar to the hierarchical model, the network model allows each record to have multiple parent and child records, thus forming a generalized graph structure. This model was standardized by the CODASYL Consortium and became the basis for various data management systems of the time.

### Document-Oriented Model
A contemporary alternative is the **document-oriented model**, part of the NoSQL movement, which focuses on the storage of documents. These documents tend to be **JSON**, **XML**, or BSON objects, which can contain nested structures of key-value pairs. Document databases like MongoDB eschew the rigid schema of relational databases, offering more flexibility to handle unstructured and semi-structured data. Modern RDBMSs (such as Oracle, SQL Server, MySQL, and Postgres) provide significant support for this (non-relational) data a well. Example:

```javascript
{
  "RecipeName": "Guacamole",
  "Ingredients": [
    {"Name": "Avocado", "Quantity": 3},
    {"Name": "Onion", "Quantity": 1},
    {"Name": "Tomato", "Quantity": 2}
  ]
}
```

## What is Conceptual-Logical Modeling?
Conceptual-Logical Modeling is a crucial stage in database design where one creates an abstract representation of the data structure and rules. It's the blueprint from which a database is constructed. This process is divided into two levels of abstraction:

- The **conceptual level** is about understanding what data we have and how it relates to the business or application without worrying about how the data will be physically stored.
- The **logical level** then takes this understanding and structures it into a relataionl format, considering things like (general) data types and keys, but still without getting into the nuts and bolts of choosing a databse implementation or writing SQL code.
- This is distinct from the **physical level**, where we choose a DBMS and formal datatypes, and writing SQL code.

At the conceptual-logical level, a database designer would start by identifying the entities and their attributes, then defining the business rules. They would interview stakeholders and look at how the current system (if there is one) manages data. This information helps in constructing an ERD, which lays out the entities, attributes, and relationships in a visual format that's easy to understand and adjust.

Key concepts at this level include:

1. **Entities** are the main "things" in the database, which can be real-world objects or concepts. In a recipe database, entities might be Recipes, Ingredients, or Users.

2. **Attributes** are the details we keep about each entity. For a Recipe, attributes might include a Name, a Description, and a Cooking Time.

3. **Business Rules** are the constraints and policies that the business applies to its data. For example, a rule might state that every Recipe must have at least one Ingredient.

4. An **Entity-Relationship Diagram (ERD)** is a visual representation of the entities, their attributes, and the relationships between them. It's like a map of how the database is structured.

In the end, Conceptual-Logical Modeling is about getting a clear picture of what the data looks like and how it behaves before you start building the actual database.

## Example: Conceptual Model for a Reciple Web App
In our recipe web app database, we can define a robust conceptual-logical model that adheres to various business rules and captures different types of relationships. Below is a structured model with five entities and multiple business rules:

### Entities with Attributes

1. **User** -- UserID (PK), Username, Email, PasswordHash

2. **Recipe** -- RecipeID (PK), Title, Calories, CookingTime, UserID (FK), DerivedFrom (FK)

3. **Ingredient** -- IngredientID (PK), Name, IsAllergenic

4. **Category** -- CategoryID (PK), Name

5. **Review** -- ReviewID (PK), Rating, Comment, UserID (FK), RecipeID (FK)

### Business Rules

1. Each User can upload multiple Recipes, but each Recipe is uploaded by only one User.

2. A Recipe can include many Ingredients, and each Ingredient can be part of many Recipes.

3. Each Recipe can have multiple Reviews, but each Review is associated with one Recipe.

4. A User can write multiple Reviews, but each Review is written by one User.

5. Recipes are categorized into one or more Categories, and each Category can include many Recipes.

6. Users have the option to mark an Ingredient as Allergenic, which flags it for special display on the Recipe page (attribute-specific business rule).

7. A recipe may (optionally) be derived from another recipe.

### Constraints and Data Types

At the conceptual-logical level, we also want to start thinking about the data, though without specifiying particular SQL data types (yet).

- **UserID** and **RecipeID** are integers and serve as primary keys (PK), ensuring uniqueness.

- **Username** and **Email** are strings, with Email following a specific format and Username being unique.

- **PasswordHash** is a string, storing encrypted passwords for security.

- **Calories** is an integer, representing the number of calories. **Cooking Time** is how long it takes to cook.

- **IsAllergenic** is a boolean, which can be true or false.

- **Rating** is an integer within a range, typically 1-5.

- **Comment** is a text field, which may have a maximum length.

By defining these entities, attributes, and business rules, we have a foundation that captures the essential data and its interrelations for our recipe web app. The next step in the database design process would be to translate this conceptual-logical model into a physical model, which includes specific data types, constraints, and the creation of additional tables to handle many-to-many relationships.

## Types of Relationships

A major tasking during the conceptual-logical modeling stage involves determining the relationships between different entities. Some relevant types of relationships include:

- In a **one-to-one** relationship, a single entity instance is related to only one instance in another set. *Example*: Each `UserAccount` is linked to one `UserProfile`.

- In a **one-to-many** relationshop, one entity instance is associated with multiple instances in another set. *Example*: A `User` may create many `Recipes`, but each `Recipe` is created by only one `User`.

- In any **many-to-many** relationship, multiple instances in one set are associated with multiple instances in another set. *Example*: A `Recipe` can be tagged with many `Ingredients`, and an `Ingredient` can be used in many `Recipes`. In the physical modeling stage, we will need to reduce these relationships to dual one-to-many relationships using **junction (join) tables.**

- A **recursive** relationship is one in which an entity is related to itself. *Example*: We might decide that a  `User` can follow other `Users`.

- In **mandatory** relationships, an entity instance must be associated with another entity instance. *Example*: A `Recipe` must include at least one `Ingredient`.

- By contrast, in **optional** relationship, an association is not required. *Example*: A `Recipe` may not have any `Comments`.

- An entity can be a **subtype** of another entity, meaning tthat it is a specialized version of another entity. The entities form a **class heirarchy**.  *Example*: `Admin` and `Member` are subtypes of `User`.

- **Barred** relationships refer to a notational element in ERDs indicating a many-to-many relationship (and the precense of join table which takes it keys from both "halves" of the relationship). *Example*: This might used to denote the many-to-many relationship between `Recipes` and `Ingredients` (and the implicit precense of a join table between them).

- In **arc** relationships, only one relationship out of several possible ones can exist at a time. *Example*: A `User` can be either a `RecipeCreator` or a `Commenter` for a given reciple, but not both.

## Candidate UIDs and Primary Keys
A **candidate unique identifier** is an attribute or a set of attributes that uniquely identifies each record within an entity. In the context of a database, this means that no two records can have the same value for this identifier. It's "candidate" because it has the potential to serve as the primary key, pending it meets certain criteria.

A **primary key** is a specific candidate unique identifier that's been chosen to serve as the unique identifier for all records in a table. This decision is based on several factors, ensuring the key's uniqueness, stability, and simplicity:

-   *Uniqueness.* The primary key must uniquely identify each record. No duplicates are allowed.
-   *Stability/Invariance.* It should not change over time. A primary key should be as immutable as possible because changes can be disruptive to both the database integrity and related applications.
-  *Simplicity.* Ideally, it should be minimal, meaning it's made of as few attributes as possible. A single-attribute key is often preferred.

To choose a good primary key, one should look for an attribute that satisfies the above conditions. Often, an **artificial key** such as a sequence number (auto-incremented ID) is used because it's simple and meets the criteria of uniqueness and invariance. However, when a **natural key** exists that can serve the purpose (like an email address for a UserAccount), it could be preferred to provide more meaning and context to the data.

### Example: Primary Key
For the recipe web app database, here are examples related to choosing candidate unique identifiers and primary keys:

1.  Candidate Unique Identifier Examples:

    -   For the User Entity, `Username` and `Email` are both candidate unique identifiers as each must be unique to a user.
    -   For the Recipe Entity, the combination of `UserID` and `RecipeTitle` could be a candidate unique identifier if titles are unique for each user, but to ensure unique, we will like create a new, artificial UUID.
2.  Primary Key Examples:

    -   For User, a `UserID`, which could be an auto-incremented integer or a **Globally Unique Identifier (GUID)** consisting of 36 random characters, serves as the primary key.
    -   For Recipe, a `RecipeID`, often an auto-incremented integer or a GUID, would be the primary key to uniquely identify each recipe.

When choosing a good primary key for the entities within the recipe app, the key should be immutable (not change over time), unique (no two entities can have the same key), and preferably simple (a single column, when possible).

## Constructing a Crow's Foot ERD

In **Crow's Foot notation**, which is commonly used in Entity-Relationship Diagrams (ERDs), the symbols depict the cardinality and the nature of the relationship between entities. Here are the primary symbols:

-   Entities are represented by *rectangles* and contain the entity name.
-   Attributes are included within the corresponding entity box they represent the data we intend to store about the entity.
-   Relationships are depicted by *lines* that connect entities. The symbols at the end(s) of these lines represent the type of relationship:
    -   *Crow's Foot.* A three-pronged 'fork' that indicates a 'many' part of the relationship. It looks like a bird's foot or a fork.
    -   *Straight Line.* This shows the 'one' part of the relationship.
    -   *Circle (O).* An optional part of the relationship, indicating that the entity is not required for the relationship.
    -   Bar (|): A mandatory part of the relationship,
     signifying that the entity is required.In the diagram below, I've used NN (Not Null) to indicate this.

For example, in a one-to-many relationship between `Recipe` and `User`, the `User` would have a straight line (indicating 'one') connected to a line that has a crow's foot near the `Recipe` entity (indicating 'many').

Later in this chapter, you'll see a Crow's foot diagram for the fully implement database.

## What is Normalization?

**Normalization** is a process used in database design to minimize redundancy and dependency by organizing fields and table of data. It involves constructing tables and establishing relationships between them according to rules designed to safeguard the data and to make the database more flexible by eliminating redundancy and inconsistent dependency. Normalization typically involves dividing large tables into smaller (and less redundant) tables and defining relationships between them.

The aim is to isolate data so that additions, deletions, and modifications of a field can be made in just one table and then propagated through the rest of the database using the defined relationships.

### 1NF (First Normal Form)

To satisfy 1NF, each table cell must contain a single value, and each record needs to be unique.

-    In our recipe app, if we have a `Recipes` table where multiple ingredient names are stored in a single row for a recipe, this would violate 1NF.
-    We correct this by ensuring that each ingredient is in a separate row.

### 2NF (Second Normal Form)

2NF builds on the first normal form. A table is in 2NF if it is in 1NF and all non-key attributes are fully functional dependent on the primary key.

-    If we have a `RecipeIngredients` table that includes fields like `IngredientID`, `RecipeID`, and `Quantity`, and also `IngredientName` which is dependent on `IngredientID` and not on `RecipeID`, this table would violate 2NF because `IngredientName` is not fully dependent on the composite primary key (`IngredientID` + `RecipeID`).
-   We fix this by moving `IngredientName` to a separate table where `IngredientID` is the primary key.

### 3NF (Third Normal Form)

A table is in 3NF if it is in 2NF and all the attributes are not only fully functionally dependent on the primary key but also non-transitively dependent (meaning they are only dependent on the primary key).

-   If a hypothetical `Chefs` table contains `ChefID`, `ChefName`, `SpecialtyID`, and `SpecialtyDescription`, where `SpecialtyDescription` is dependent on `SpecialtyID` (which is not the primary key), this would violate 3NF.
-  We would remove the `SpecialtyDescription` from the `Chefs` table and create a new table where `SpecialtyID` is the primary key, and `SpecialtyDescription` is a non-key attribute.

Normalization beyond 3NF (BCNF, 4NF, etc.) addresses more complex scenarios and further reduces data redundancy and potential anomalies. However, it is crucial to note that over-normalization can lead to excessive complexity and degrade performance. During the physical design stage, some denormalization might be performed for performance reasons.

### Introduction to Conceptual Modeling Exercise

Conceptual modeling is like drawing a map of how information in a certain area is linked. This exercise is your guide to creating a structure for organizing data in a way that makes sense and works well. It's not just about the technical bits---it's about thinking through the relationships between pieces of information in the area you choose to explore.

Think of conceptual modeling as a way to set the stage for building a database. It's about getting a clear picture of what information you want to handle and how it all connects. You don't need to be a pro to start; just dive into an area you're excited about or want to learn more about.

To get your thoughts rolling, here are five ideas from different areas that you might pick (however, I encourage you to choose your own idea!).

1.  (Business) Map out a system that keeps track of how salespeople, customers, and products interact, like tracking sales, customer questions, and help requests.

2.  (Science) Design a database for a science lab that keeps up with which researcher did what experiment, with which samples, and what the outcomes were, all while keeping things organized and following the rules.

3.  (Sports) Think about how you would organize information for a sports league, including teams, players, games, and rankings, to keep tabs on stats and make planning games easier.

4.  (Video Games) Figure out a way to track players, their in-game items, missions, and rewards in a video game, focusing on how players move forward and how rare their items are.

5.  (Education) Sketch out a system for an online learning site that shows how students, courses, tests, and certificates all fit together, aimed at helping students follow their own learning path and keeping track of their progress.

Each area has its own special things to think about and could be a great way to try out conceptual modeling. Pick one that interests you, and you'll likely find the process more fun and the outcome useful. This exercise will help you learn about building databases and give you insight into how complex managing data can be, no matter what field you're looking at.

#### Part 1: Define Business Rules

Identify and articulate at least FIVE core rules that govern the data interactions within your chosen domain.

-   Think about the essential operations and constraints of your subject area.
-   Write clear, concise statements that reflect the logic your database must adhere to.
-   Consider examples like "Each user must have a unique username" or "A product can belong to only one category."

#### Part 2: Identify Entities

Determine the key concepts that will form the tables in your database. Give at least FOUR entities.

-   Look for nouns in your business rules that represent objects or concepts.
-   Ensure entities are distinct without unnecessary overlap.
-   Examples might include "User," "Product," or "Order."

#### Part 3: Specify Attributes

Define the properties and characteristics of each entity. At least two per entity.

-   List the data elements that need to be recorded for each entity.
-   Identify which attributes are mandatory and which are optional.
-   For example, a "User" may have attributes like "UserID," "Name," and "Email."

#### Part 4: Establish Relationships

Connect entities based on how they interact with one another.

-   Determine how entities are related (one-to-one, one-to-many, many-to-many).
-   Write out how entities associate with each other, like "A user can place multiple orders."
-   Consider the need for associative entities to handle many-to-many relationships.

#### Part 5: Determine Primary Keys

Choose primary keys for each entity.

-   Select attributes that uniquely identify a record within an entity.
-   Primary keys should be stable, not changing over time.
-   For instance, "UserID" might be the primary key for the "User" entity.

#### Part 6: Apply Normalization

If needed, organize data to reduce redundancy and improve data integrity.

-   Review the attributes of your entities and ensure they adhere to 1NF (eliminate repeating groups), 2NF (remove dependencies that are only on a part of the primary key), and 3NF (remove attributes not dependent on the primary key).
-   Split entities as needed to achieve these forms.
-   Reflect on whether your attributes need to be moved to a separate table to achieve normalization.

#### Part 7: Create an Entity-Relationship Diagram (ERD)

Visualize the entities, attributes, relationships, and keys.
-   Use a tool like draw.io to represent your entities as boxes and relationships as lines.
-   Ensure primary keys are noted, and foreign keys are indicated to show how tables relate.
-   Review your ERD to ensure it accurately represents your business rules and normalized structures.

## My Answer: Conceptual Modeling Exercise
(See the above for what to include)

# From ERD to Relational Schema: Getting Started on a Physical Model

Transitioning from an Entity-Relationship Diagram (ERD) to a relational schema is a process of turning abstract concepts into a structured database model. Our initial goal is to create a **schema** that will be the blueprint of the database's structure, with definitions of tables and their attributes. We aren't yet ready to create an **instance** of the database that is coded on an actual computer. Here's a streamlined approach:

1.  *Entities Become Tables.* In the ERD, an entity like "Customer" with attributes "CustomerID," "Name," and "Address" becomes a table. The "CustomerID" serves as the primary key.

2.  *Relationships are encoded in Foreign Keys. Many-to-many relationships become association tables*

    -   For a one-to-many relationship, such as a customer placing many orders, the "Order" table would include a "CustomerID" foreign key column.
    -   A many-to-many relationship, like students enrolling in multiple courses and each course having many students, necessitates a **association (join, junction) table**. The association table, "StudentCourses," would have "StudentID" and "CourseID" as foreign keys.

4.  *Keep Normalizing.* As we create new tables in this process, we must occasionally stop and re-normalize. Consider the "Product" and "Order" tables. If products have a description that is often repeated, normalization would involve moving this to a separate "ProductDescription" table, linked to the "Product" table by a foreign key. This reduces redundancy.

5.  *Business Rules still matter.*

    -   **Structural rules** are embedded in the schema design---for example, a "Product" table might have a "StockNumber" column set as NOT NULL, ensuring every product has a stock number.
    -   **Procedural rules** are captured in operations, like a **database trigger** to update the "LastOrderDate" in the "Customer" table whenever a new order is placed.

Through these steps, the ERD's abstract entities and relationships take form as a concrete relational schema, with considerations for integrity, efficiency, and adherence to business logic.

## Creating Association Tables
Transitioning from a conceptual model to a physical model in database design involves the translation of high-level, abstract relationships into concrete, structured formats that a database management system can store and manipulate. The conceptual model typically illustrates entities, their attributes, and the relationships between entities using an Entity-Relationship Diagram (ERD). The physical model, on the other hand, is a detailed representation of how data is stored in the form of tables, columns, data types, and constraints within a database---often referred to as a schema.

To contextualize, let's summarize the schema derived from the conceptual modeling phase:

### Initial Conceptual Schema

-   User: Comprised of a UserID, Username, Email, and PasswordHash.
-   Recipe: Contains a RecipeID, Title, CookingTime, and a UserID to denote authorship.
-   Ingredient: Identified by an IngredientID, with a Name and an allergenic flag.
-   Category: Defined by a CategoryID and a Category Name.
-   Review: Consists of a ReviewID, Rating, Comment, and foreign keys to User and Recipe.

### Conceptual Business Rules

-   Users can have many Recipes; each Recipe has one User.
-   Recipes can have many Ingredients; Ingredients can appear in many Recipes.
-   Recipes can belong to many Categories; Categories can encompass many Recipes.
-   Users can write many Reviews; each Review pertains to one Recipe.

In the physical model, we need to adjust for many-to-many relationships by introducing association tables. The resulting schema will now include these new tables, which link the primary keys of the related entities.

### Revised Physical Schema with Association Tables

1.  `User`--Unchanged, as it only has one-to-many relationships.
2.  `Recipe`--Unchanged in structure, but now linked to `RecipeIngredient` and `RecipeCategory`.
3.  `Ingredient`--Unchanged, still with the IsAllergenic attribute.
4.  `Category`--Unchanged in structure, but now linked to `RecipeCategory`.
5.  `Review`--Unchanged, directly linked to both User and Recipe.

We need two new association tables.

6.  `RecipeIngredient`--A junction table joining `Recipe` and `Ingredient`.
    -   RecipeID (PK, FK)
    -   IngredientID (PK, FK)
7.  `RecipeCategory`--A junction table joining `Recipe` and `Category`.
    -   RecipeID (PK, FK)
    -   CategoryID (PK, FK)

These association tables represent the many-to-many relationships by breaking them down into one-to-many relationships from each table to the association table. The `RecipeIngredient` table holds the composite key of RecipeID and IngredientID, while the `RecipeCategory` table holds the composite key of RecipeID and CategoryID.

By doing this, we convert the conceptual connections into a format that a relational database can implement, ensuring the integrity and accessibility of the data while preserving the semantics of the original business rules.

## Condundrums with Keys
Keys play a crucial role in ensuring data integrity and facilitating efficient data retrieval. While the conceptual model provides an initial blueprint of the entities and their relationships, it is within the physical model that keys are refined and explicitly defined. The physical model demands particular attention to the identification and implementation of keys to serve as unique identifiers for records in tables.

Primary Keys in the physical model are often carried over from the conceptual model. However, the choice of primary keys may evolve due to practical considerations. Artificial keys, such as integers or GUIDs (Globally Unique Identifiers), are frequently employed for several reasons:

1.  **Artificial Integer Keys**  are typically auto-incremented numbers assigned by the database system. They are compact, efficient for indexing, and have predictable growth, making them suitable for tables where natural keys (a key derived from the data itself) are either unavailable or inefficient. For example, a `UserID` might be an integer that automatically increments with each new user added to the database.

2.  A **Globally Unique Identifier (GUID)** is a 128-bit number (around 36 characters) that is large enough to be globally unique. They are appropriate in distributed systems where entities might be created in different locations and still need to be uniquely identifiable across the entire system. GUIDs prevent key collisions when merging data from different databases.

When choosing between integer keys and GUIDs, consider system scale, performance requirements, and the distributed nature of the system. Integer keys are more storage and performance-efficient in most typical applications, while GUIDs are more suited to large, distributed systems where the cost of ensuring uniqueness is justified by the system's scale.

Special Cases involving keys include:

-   Junction Tables in many-to-many relationships: Here, **composite keys** are a natural choice, comprised of the primary keys from the entities being linked. For instance, a `RecipeIngredient` table might use both `RecipeID` and `IngredientID` as a composite primary key.

-   **Subtype Relationships** occur when a subtype entity inherits from a parent entity. The key in the parent table often becomes a foreign key in the subtype table, linking the two and ensuring referential integrity.Imagine a scenario in an educational institution where we have a general entity called `Person`. This entity has attributes like `PersonID`, `Name`, and `DateOfBirth`. Now, there are two subtypes of `Person`: `Student` and `Instructor`. Each subtype will inherit the `PersonID` as a foreign key in their respective tables to maintain a link to the `Person` entity.

-   **Arc Relationships** are exclusive relationships where an entity can be related to one of many possible entities. Implementing keys in such scenarios often requires additional logic to maintain exclusivity and ensure data consistency.

In the case of association or junction tables, artificial keys can sometimes be added to simplify CRUD (Create, Read, Update, Delete) operations, even though they are not strictly necessary from a normalization perspective. For example, a `RecipeCategory` junction table might include a `RecipeCategoryID` as a primary key, aside from the composite key, to simplify referencing specific relationships.

Selecting appropriate keys for a physical model is a critical design decision that impacts the database's integrity, performance, and future scalability. The decision should be guided by the nature of the data, the business rules, and the operational context of the database.

## DBMS Selection for Relational Schema Implementation

**Implementing** a relational schema requires a careful choice of DBMS, which hinges on the scale and scope of the database's intended use.

#### Personal Database: Microsoft Access
- Access offers a user-friendly interface suitable for individuals with limited technical expertise.
- Seamless integration with other Microsoft Office applications, beneficial for a small-scale, desktop-based recipe database.
- Not designed for high-volume transactions or multi-user environments, which makes it less suitable for a database expected to scale.

#### File Database: SQLite
- SQLite stores the entire database as a single file, making it a simple solution for applications like mobile recipe apps or small web projects.
- While SQLite can handle some concurrent operations (up to thousands of concurrent readers), it's not optimized for high-traffic situations with many simultaneous writes (which might well be the case with an app that users can save recipes to).
- Requires no setup or administration, ideal for standalone applications or development prototypes.

#### Enterprise Database: Oracle, MySQL, Postgres, SQL Server
- Enterprise databases are built for **scalability**, and to handle a large number of transactions and high concurrency, which is crucial for a recipe database with a potentially large and active user base.
- They offer advanced features such as complex transaction control, backup and recovery, and data warehousing capabilities.
- Widespread adoption means extensive community support, and for paid solutions like Oracle or SQL Server, professional support is available.

### Hosting Solution Considerations

Choosing a hosting solution also depends on the database type and expected load:

#### Local Hosting
This means hosting it on your "own computers." This offers:
- **Control**: Complete control over the data and configuration, which can be essential for handling sensitive dietary information.
- **Performance**: Direct access to the server can offer performance benefits for file databases that are not designed for network use.

#### Cloud Hosting
This means hosting it "in the cloud", often using Amazon, Google, Oracle, or Microsoft. Advantages are:
-  Cloud services can dynamically allocate resources to meet the demands of an enterprise database.
-  For a recipe database that experiences variable loads, cloud hosting can be more cost-effective than maintaining on-premises hardware.

#### Service Models
- **Infrastructure as a Service (IaaS)**: Provides the infrastructure on which to install any DBMS, offering the most flexibility.
- **Platform as a Service (PaaS)**: Might include managed database services, reducing administrative overhead but also reducing control over the database environment.

### Decision-Making for a Recipe Database

For a recipe database, the choice of DBMS and hosting would depend on the projected size and engagement level of the user base, the complexity of data relationships, and the need for data security and integrity. A personal or file database may suffice for a small, single-user application, whereas an enterprise database would be essential for a comprehensive, interactive platform with a large user community.

## What is SQL?
We are finally ready to write some SQL!

**SQL**, which stands for Structured Query Language, is a domain-specific language used in programming and designed for managing data held in a relational database management system (RDBMS), or for stream processing in a relational data stream management system (RDSMS). It is particularly useful in handling structured data, where there are relations between different entities/variables of the data.

**ANSI Standard SQL** refers to the SQL language as standardized by the American National Standards Institute (ANSI). The purpose of this standardization is to ensure that SQL would work across different database systems, providing a uniform language for various RDBMS platforms. However, while the standard defines certain core syntax and behaviors, it also allows for some variations and extensions by different database vendors. (The simple sorts of queries we'll deal with here should be supported by all relational databases0.

SQL is used for a variety of purposes, such as:

-   Querying data--SQL allows users to retrieve specific data from large and complex databases through queries. It can be used to specify particular data characteristics, patterns, or ranges of interest and to extract relevant information.

-   Data manipulation--It is also used to insert, update, or delete records within a database, enabling users to manage the data efficiently.

-   Data definition--SQL can define the structure of the data in a database and manipulate the organization of this data into tables, columns, indexes, and so on.

-   Data access control--Through SQL, administrators can set permissions, granting or restricting user access to the database or specific data within the database.

-   Data communication--SQL commands can be embedded in other languages or used in conjunction with other web technologies to communicate and manipulate data in web applications, enterprise software, and more.

In essence, SQL is the cornerstone of all relational database operations. Its standard commands, such as SELECT, INSERT, UPDATE, DELETE, CREATE, and DROP, can be used to accomplish almost everything that one needs to do with a database.

## Let's Meet MySQL

**MySQL** is an open-source DBMS under the stewardship of Oracle Corporation, which means the source code is freely available for anyone to use, modify, and distribute. Oracle also sells propriety versions of MySQL for corporate use. MySQL is one of the most widely deployed database systems in the world, and is rougly comparable to the (fully open source) PostgreSQL and (fully proprietary) Oracle Database. Like these databases, it supports ANSI-standard SQL, and also provides additional functionality.

In [ ]:
%%capture
# Install MySQL server
!apt-get install mysql-server -y > /dev/null
# Start MySQL service
!service mysql start
# Secure MySQL installation (Set root password to 'your_password')
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password'; FLUSH PRIVILEGES;"
# Create a new database named 'recipe_app'
!mysql -e "CREATE DATABASE IF NOT EXISTS recipe_app;" -u root -pyour_password
# Install Python MySQL client (for ipython-sql)
!pip install pymysql
# Load the SQL extension for Jupyter
%load_ext sql
# Connect to the MySQL database using the password
%sql mysql+pymysql://root:your_password@localhost/recipe_app

## Data Definition Language

## SQL: Data Definition Language
Data Definition Language (DDL) is a subset of SQL that deals with database schemas and descriptions of how the data should reside in the database. An important aspect of DDL is the creation of database objects, such as tables.

The `CREATE TABLE` statement is fundamental in DDL and is used to create a new table in the database. It defines the table's structure, including its columns and each column's data type, along with any constraints or keys.

The syntax is as follows:

```sql
CREATE TABLE table_name (
    column1 datatype constraint,
    column2 datatype constraint,
    column3 datatype constraint,
    ...
    PRIMARY KEY (one or more columns),
    FOREIGN KEY (one or more columns) REFERENCES parent_table(columns),
    INDEX index_name (column(s)),
    UNIQUE (column(s))
);
```

When using `CREATE TABLE`, several options are available:

-   *Column Definitions--*Each column is defined with a name and data type, indicating the kind of data it can hold (e.g., `VARCHAR`, `INT`, `DATE`).
-   *Constraints--*Rules applied to column data, such as `NOT NULL`, which prevents null values, or `UNIQUE`, ensuring all values in a column are different.
-   *Primary Keys--*One or more columns that uniquely identify each row in the table.
-   *Foreign Keys--*Constraints that link the columns of one table to the columns of another, enforcing referential integrity.
-   *Indexes--*Structures that improve the speed of data retrieval operations on a table at the cost of additional writes and storage space to maintain them.

### Table: MySQL Data Types
MySQL supports ANSI standard SQL datatypes, along with some others. Here are some datatypes you'll commonly see.

| Data Type | Description | Example Usage |
| --- | --- | --- |
| `INT` | A normal-sized integer that can be signed or unsigned. | `INT` for a typical integer like 42. |
| `VARCHAR(n)` | A variable-length string between 1 and 255 characters. Requires length `n`. | `VARCHAR(255)` for a short text field. |
| `TEXT` | A text column with a maximum length of 65,535 characters. | `TEXT` for long-form article contents. |
| `DATE` | A date in the format `YYYY-MM-DD`. | `DATE` for storing dates like 2023-04-15. |
| `DATETIME` | A date and time combination in the format `YYYY-MM-DD HH:MI:SS`. | `DATETIME` for precise record timestamps. |
| `TIMESTAMP` | A timestamp, stored as the number of seconds since the Unix epoch ('1970-01-01 00:00:00' UTC). | `TIMESTAMP` for auto-updated time stamps. |
| `DECIMAL(M, D)` | A fixed-point number with `M` total digits, of which `D` are after the decimal point. | `DECIMAL(5,2)` for monetary values. |
| `FLOAT` | A small number with a floating decimal point. | `FLOAT` for approximate numeric values. |
| `BLOB` | A binary large object that can hold a variable amount of data. | `BLOB` for storing images or binary data. |

Each data type serves a specific purpose and is chosen based on the nature of the data being stored.

## Example: A MySQL Database for Recipes

In [29]:
%%sql
-- Run to Drop tables if they already exist
DROP TABLE IF EXISTS RecipeIngredient CASCADE;
DROP TABLE IF EXISTS RecipeCategory CASCADE;
DROP TABLE IF EXISTS Review CASCADE;
DROP TABLE IF EXISTS Recipe CASCADE;
DROP TABLE IF EXISTS User CASCADE;
DROP TABLE IF EXISTS Ingredient CASCADE;
DROP TABLE IF EXISTS Category CASCADE;

 * mysql+pymysql://root:***@localhost/recipe_app
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [30]:
%%sql
-- Script to create tables

CREATE TABLE User (
    UserID INT AUTO_INCREMENT PRIMARY KEY,
    Username VARCHAR(50) NOT NULL,
    Email VARCHAR(100) NOT NULL,
    PasswordHash CHAR(64) NOT NULL -- assuming SHA-256 hash
);

CREATE TABLE Recipe (
    RecipeID INT AUTO_INCREMENT PRIMARY KEY,
    Title VARCHAR(100) NOT NULL,
    CookingTime INT NOT NULL, -- in minutes
    UserID INT,
    DerivedFrom INT,
    FOREIGN KEY (DerivedFrom) REFERENCES Recipe(RecipeID),
    FOREIGN KEY (UserID) REFERENCES User(UserID)
);

CREATE TABLE Ingredient (
    IngredientID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(50) NOT NULL,
    Calories_Oz INT NOT NULL,
    IsAllergenic BOOLEAN NOT NULL
);

CREATE TABLE Category (
    CategoryID INT AUTO_INCREMENT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL
);

CREATE TABLE Review (
    ReviewID INT AUTO_INCREMENT PRIMARY KEY,
    Rating INT NOT NULL CHECK (Rating BETWEEN 1 AND 5),
    Comment TEXT,
    UserID INT,
    RecipeID INT,
    FOREIGN KEY (UserID) REFERENCES User(UserID),
    FOREIGN KEY (RecipeID) REFERENCES Recipe(RecipeID)
);

-- Association table for many-to-many relationship between Recipe and Ingredient
CREATE TABLE RecipeIngredient (
    RecipeID INT,
    IngredientID INT,
    Weight_Oz INT NOT NULL,
    PRIMARY KEY (RecipeID, IngredientID),
    FOREIGN KEY (RecipeID) REFERENCES Recipe(RecipeID),
    FOREIGN KEY (IngredientID) REFERENCES Ingredient(IngredientID)
);

-- Association table for many-to-many relationship between Recipe and Category
CREATE TABLE RecipeCategory (
    RecipeID INT,
    CategoryID INT,
    PRIMARY KEY (RecipeID, CategoryID),
    FOREIGN KEY (RecipeID) REFERENCES Recipe(RecipeID),
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);

 * mysql+pymysql://root:***@localhost/recipe_app
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

You'll notice a few things about this SQL script:

1. It uses MySQL's `AUTO_INCREMENT` in the definition of primary key fields, such as `UserID`, `RecipeID`, `IngredientID`, and so forth, automatically generates a unique identifier for each new entry. This feature is crucial for maintaining unique records and simplifying the insertion process, as it absolves the user from manually assigning unique values.

2. A big part of DDL is assigning appropriate data types to each column, like `VARCHAR`, `INT`, `BOOLEAN`, and `TEXT`, to ensure that the data is stored efficiently and correctly. Constraints like `NOT NULL` guarantee that critical fields are always filled with valid data, preserving the integrity of the database.

3. Foreign keys create a link between tables. For instance, `FOREIGN KEY (UserID) REFERENCES User(UserID)` connects the `Recipe` table to the `User` table, which both enforces referential integrity and establishes a relationship that reflects the one-to-many connection between users and their recipes.

4. The `CHECK` constraint, used here with `Rating` in the `Review` table, is a rule that specifies the acceptable range of values for a field, preventing the entry of data that does not adhere to predefined criteria.

5. We need to create association tables, like `RecipeIngredient` and `RecipeCategory`, in order to handle many-to-many relationships in a relational database. They allow for the linking of records from two tables through a composite primary key that references the primary keys of the connected tables. This technique is vital for normalizing databases and avoiding data duplication.

![image.png]()

ER Diagram: MySQL Recipe Database

## Data Manipulation Language
**Data Manipulation Language (DML)** is a subset of SQL that is used to retrieve, insert, modify, and delete data in databases. DML commands are the element of SQL that actually allows for the handling of data stored within the schema defined by the Data Definition Language (DDL). Here are some key concepts and commands:

1.  `SELECT` is the foundational command of DML, allowing users to query and retrieve specific data from the database. It can be finely tuned using clauses like `WHERE`, `GROUP BY`, `HAVING`, and `ORDER BY` to filter, aggregate, and sort the results.

    - `SELECT Username, Email FROM User WHERE UserID = 1;` retrieves the username and email of the user with `UserID` equal to 1.

2.  `INSERT` adds new records to a table. It requires the specification of the target table and the values to be inserted. Columns not mentioned in the command must either have a default value or allow for `NULL`.

    - `INSERT INTO User (Username, Email, PasswordHash) VALUES ('CookMaster3000', 'chef@example.com', 'hashedpassword');` adds a new user with a username, email, and password hash.

3.  `UPDATE` modifies existing records. It's often used with a `WHERE` clause to specify which records should be updated, to avoid changing the entire table inadvertently.

    - `UPDATE Recipe SET CookingTime = 30 WHERE RecipeID = 2;` changes the cooking time for the recipe with `RecipeID` equal to 2.

4.  `DELETE` removes records from a table. Like `UPDATE`, it is typically used with a `WHERE` clause to target specific records and prevent accidental deletion of all records.

    - `DELETE FROM User WHERE UserID = 4;` would remove the user whose `UserID` is 4 from the `User` table.

Understanding and using DML effectively is crucial for interacting with the database post-creation. It allows for the actual usage of data, enabling the database to serve its primary function as a store of information that can be queried and updated as required.

### DML: Inserting Data

Now, we are prepared to insert some data into our database, using `INSERT INTO`. We will be inserting data for two cooks and their respective chili recipes.

In [31]:
%%sql

-- Insert data for our two cooks
DELETE FROM User;

INSERT INTO User (UserID, Username, Email, PasswordHash)
VALUES
    (1, 'Basil Fennelbottom', 'basil.fennel@cookmail.com', SHA2('BasilPass123', 256)),
    (2, 'Rosemary Thymeheart', 'rosemary.thyme@cookmail.com', SHA2('RosemaryPass123', 256));

 * mysql+pymysql://root:***@localhost/recipe_app
0 rows affected.
2 rows affected.

[]

In [32]:
%%sql
-- Now, some common chili ingredients
DELETE FROM Ingredient;

INSERT INTO Ingredient (IngredientID, Name, Calories_Oz, IsAllergenic)
VALUES
    (1, 'Kidney Beans', 50, FALSE),
    (2, 'Black Beans', 45, FALSE),
    (3, 'Ground Beef', 70, FALSE),
    (4, 'Impossible Burger', 50, FALSE),
    (5, 'Tomatoes', 5, FALSE),
    (6, 'Onions', 10, FALSE),
    (7, 'Garlic', 15, FALSE),
    (8, 'Cumin', 8, FALSE),
    (9, 'Chili Powder', 6, FALSE),
    (10, 'Bell Peppers', 7, FALSE),
    (11, 'Corn', 15, FALSE),
    (12, 'Sour Cream', 30, TRUE),
    (13, 'Cheddar Cheese', 110, TRUE),
    (14, 'Green Chilies', 5, TRUE),
    (15, 'Cilantro', 1, FALSE);

 * mysql+pymysql://root:***@localhost/recipe_app
0 rows affected.
15 rows affected.

[]

In [33]:
%%sql
DELETE FROM RecipeIngredient;
DELETE FROM Recipe;

-- Inserting recipes
INSERT INTO Recipe (Title, CookingTime, UserID)
VALUES
    ('Basil\'s Hearty Beef Chili', 120, 1),
    ('Rosemary\'s Veggie Delight Chili', 90, 2);

-- Inserting ingredients for Basil's Hearty Beef Chili
INSERT INTO RecipeIngredient (RecipeID, IngredientID, Weight_Oz)
VALUES
    (1, 3, 16), -- Ground Beef
    (1, 1, 8),  -- Kidney Beans
    (1, 11, 6), -- Corn
    (1, 5, 16), -- Tomatoes
    (1, 6, 4),  -- Onions
    (1, 7, 2),  -- Garlic
    (1, 8, 1),  -- Cumin
    (1, 9, 2),  -- Chili Powder
    (1, 12, 4); -- Green Chilies

-- Inserting ingredients for Rosemary's Veggie Delight Chili
INSERT INTO RecipeIngredient (RecipeID, IngredientID, Weight_Oz)
VALUES
    (2, 4, 16),  -- Impossible Burger
    (2, 2, 8),   -- Black Beans
    (2, 10, 6),  -- Bell Peppers
    (2, 5, 16),  -- Tomatoes
    (2, 6, 4),   -- Onions
    (2, 7, 2),   -- Garlic
    (2, 8, 1),   -- Cumin
    (2, 9, 2),   -- Chili Powder
    (2, 13, 4),  -- Sour Cream (topping)
    (2, 14, 4),  -- Cheddar Cheese (topping)
    (2, 15, 2);  -- Cilantro (garnish)

 * mysql+pymysql://root:***@localhost/recipe_app
0 rows affected.
0 rows affected.
2 rows affected.
9 rows affected.
11 rows affected.

[]

### Introduction to Basic SELECT Statements

The `SELEC`T statement in SQL is fundamental for querying a database to retrieve data. It allows you to specify precisely what data you want to see and from where. The basic structure involves specifying the columns you want to retrieve and the table from which to retrieve them. The general syntax is:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

-   `SELECT` specifies the columns you want to retrieve. You can list them individually or use `*` to select all columns.

-   The `FROM` clause specifies the table from which to retrieve the data.

-   `WHERE` is an optional clause that specifies a condition. Only rows that meet this condition will be included in the results. If you omit the WHERE clause, all rows from the table are returned.

### Examples: Basic Select

In [24]:
%%sql
-- Get names and calories of all ingredients
SELECT Name, Calories_Oz
FROM Ingredient
LIMIT 5;

 * mysql+pymysql://root:***@localhost/recipe_app
5 rows affected.

[('Kidney Beans', 50),
 ('Black Beans', 45),
 ('Ground Beef', 70),
 ('Impossible Burger', 50),
 ('Tomatoes', 5)]

In [34]:
%%sql
-- Get info on allergenic ingredients
SELECT *
FROM Ingredient
WHERE IsAllergenic = TRUE;

 * mysql+pymysql://root:***@localhost/recipe_app
3 rows affected.

[(12, 'Sour Cream', 30, 1),
 (13, 'Cheddar Cheese', 110, 1),
 (14, 'Green Chilies', 5, 1)]

In [37]:
%%sql
-- Get high calorie items
SELECT Name, Calories_Oz
FROM Ingredient
WHERE Calories_Oz > 50;

 * mysql+pymysql://root:***@localhost/recipe_app
2 rows affected.

[('Ground Beef', 70), ('Cheddar Cheese', 110)]

### `SELECT` with `LIKE` and `ORDER BY`

SELECT statements can also include clauses like `LIKE` and `ORDER BY` to refine the search criteria and sort the results, respectively. These clauses enhance the versatility of data retrieval from a database.

**Using LIKE for Pattern Matching**  The `LIKE` operator is used in a `WHERE` clause to search for a specified pattern in a column.

-   `%` represents zero, one, or multiple characters.
-   `_` represents a single character.

The syntax is:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE columnN LIKE pattern;
```

**Using ORDER BY to Sort Results.** The `ORDER BY` clause is used to sort the result-set in ascending or descending order.

-   `ASC` specifies ascending order (default).
-   `DESC` specifies descending order.

The syntax is:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY columnN ASC|DESC;
```

### Examples: LIKE and ORDER BY

In [38]:
%%sql
-- Ingredients that start with G
SELECT *
FROM Ingredient
WHERE Name LIKE 'G%';

 * mysql+pymysql://root:***@localhost/recipe_app
3 rows affected.

[(3, 'Ground Beef', 70, 0), (7, 'Garlic', 15, 0), (14, 'Green Chilies', 5, 1)]

In [41]:
%%sql
-- Order ingredients by Calories
SELECT *
FROM Ingredient
ORDER BY Calories_Oz DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost/recipe_app
5 rows affected.

[(13, 'Cheddar Cheese', 110, 1),
 (3, 'Ground Beef', 70, 0),
 (4, 'Impossible Burger', 50, 0),
 (1, 'Kidney Beans', 50, 0),
 (2, 'Black Beans', 45, 0)]

In [43]:
%%sql
-- Combining multiple operators
SELECT *
FROM Ingredient
WHERE Name LIKE '%Bean%'
ORDER BY Calories_Oz;

 * mysql+pymysql://root:***@localhost/recipe_app
2 rows affected.

[(2, 'Black Beans', 45, 0), (1, 'Kidney Beans', 50, 0)]