<a href="https://colab.research.google.com/github/brendanpshea/database_sql/blob/main/Database_09_Monsters_of_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Monsters of JSON
### Brendan Shea, PhD
In the ever-evolving digital world, data has become the lifeblood of modern technology. Every day, countless amounts of data are generated, processed, and exchanged across various systems and platforms. This data can come in a multitude of formats, and one of the most prevalent is JSON, short for JavaScript Object Notation.

**JSON** is a lightweight data-interchange format that is easy for humans to read and write and easy for machines to parse and generate. It is based on a subset of the JavaScript Programming Language, Standard ECMA-262 3rd Edition - December 1999. JSON is a text format that is completely language independent but uses conventions that are familiar to programmers of the C-family of languages, including C, C++, C#, Java, JavaScript, Perl, Python, and many others.

This chapter aims to provide a comprehensive introduction to JSON, its structure, and its practical uses. We will delve into the essential details of JSON and how it fits into the broader landscape of data formats. We will also explore why JSON has gained such popularity in the realm of databases and data exchange.

One such database that has embraced JSON is PostgreSQL. Known for its robustness and advanced capabilities, PostgreSQL offers substantial support for JSON, allowing developers to store, query, and manipulate JSON data efficiently. We will explore these features and provide a hands-on guide to interacting with JSON within the PostgreSQL environment.

To bring these concepts to life, we will be using a fascinating case study throughout this chapter. We will work with a JSON dataset related to the world of Dungeons and Dragons (D&D), a popular fantasy role-playing game. This dataset contains detailed information about various monsters in the game, encoded in JSON format. This dataset not only serves as a practical example of real-world JSON data but also adds an element of fun and intrigue to our exploration of JSON.

By the end of this chapter, you should have a solid understanding of JSON, its importance, and how to work with it in PostgreSQL. So, prepare yourself for a journey into the realm of data, where monsters lurk in JSON format, and PostgreSQL is our tool of choice for taming them.

## What is JSON?

JSON, or JavaScript Object Notation, is a text-based data format that is designed to be human-readable and easy for computers to parse and generate. JSON originated from the JavaScript language, but it is a language-independent data format. It is often used for transmitting data in web applications, serving as an alternative to XML.

JSON is built on two simple structures: objects and arrays/

### Objects
An **object** in JSON is an unordered set of **key-value pairs**, similar to a dictionary, a hash, or a record in other languages. Objects are enclosed in curly braces {}. A colon : separates the **keys** and the **values**, and a comma `,` separates the pairs. For example:

```
{
  "monsterName": "Fluffy Bunny",
  "monsterType": "Beast",
  "hitPoints": 3,
  "abilities": ["Hop", "Nibble", "Cuteness Overload"]
}
```
In this example, the object describes a somewhat unusual D&D monster, a "Fluffy Bunny" with abilities including "Hop", "Nibble", and "Cuteness Overload".

### Arrays
An **array** in JSON is an ordered list of values, similar to a list, a vector, or an array in other languages. Arrays are enclosed in square brackets [], and the values are separated by commas. For example:

```
[
  "Bumbling Beholder",
  "Kind Kobold",
  "Dancing Doppelganger",
  "Jolly Jelly Cube"
]
```
In this example, the array includes a list of whimsical D&D monster names. The order of these monster names in the array can be important, depending on how the data is to be used.

## Why JSON is not Relational
Relational databases and JSON structures have fundamentally different ways of representing and organizing data.

In a relational database, data is structured into tables, similar to a spreadsheet. Each table has a defined schema, which is a set of attributes (or columns), and each attribute has a specific data type. Each row in the table represents a single record, and each cell in the row represents a value for the corresponding attribute. Relationships can be defined between tables using primary and foreign keys, allowing for complex data models to be represented.

In contrast, JSON data is represented as a collection of key-value pairs (objects) or ordered lists of values (arrays). JSON objects do not have a predefined schema, meaning each object can have a different set of keys. Arrays and objects can be nested within each other, allowing for complex, hierarchical data structures.

The differences between these two data structures have several implications:

1.  *Flexibility:* JSON is schema-less, meaning it can represent a wider variety of data structures compared to relational databases. It's easy to add new fields or nest data structures. However, this flexibility can lead to inconsistencies in data if not managed carefully.

2.  *Complexity of Relationships:* Relational databases excel at representing complex relationships between different entities (tables). In JSON, while it's possible to nest objects within each other to represent relationships, it's less straightforward to manage many-to-many or complex relationships.

3.  *Data Integrity:* Relational databases provide strong data integrity through constraints, such as unique, primary key, and foreign key constraints. JSON does not inherently support these constraints, so data integrity must be managed at the application level.

4.  *Querying:* Relational databases have a powerful querying language (SQL) that supports complex queries, aggregations, and joins. Querying JSON data can be less straightforward and often requires parsing the JSON structure at the application level. However, some databases like PostgreSQL offer JSON functions and operators that make querying JSON data easier.

5.  *Storage and Performance:* Generally, relational databases are optimized for performance and can handle large volumes of data efficiently. JSON can be less efficient for large data volumes, especially when the JSON structures are complex and deeply nested. However, some modern databases have improved JSON storage and query performance.

In the context of our D&D example, if we were to use a relational database, we might have separate tables for "Monsters", "Abilities", and "Types", and we would define relationships between these tables. With JSON, we could potentially store all this data in a single JSON object, with abilities and types nested within each monster. The best approach would depend on the specific requirements and complexity of our application.

## Why is JSON Used?
JSON, or JavaScript Object Notation, has found extensive usage in modern software development due to its lightweight nature and easy readability. Here are some of the practical uses of JSON:

1.  *Data Storage:* JSON is often used for storing data locally or remotely in a structured, human-readable format. For example, a web application might store user settings in JSON format for easy retrieval and update.

2.  *Data Exchange:* JSON is commonly used as the data format for sending data between a server and a web application, or between different parts of a web application. Its human-readable nature and wide support across different programming languages make it ideal for this purpose.

3.  *Configuration Files:* JSON is often used to store configuration settings for web applications, desktop applications, servers, and more. These configuration files can be easily read and written by the application, and also easily understood and modified by humans.

4.  *Web APIs:* Most modern web APIs (Application Programming Interfaces) use JSON as their communication format. When a web application makes a request to an API (for example, to fetch data), the API often sends back the response in JSON format, which the web application can then easily parse and use.

5.  *Database Operations:* Many NoSQL databases, like MongoDB, use JSON for storing and manipulating data. Even SQL databases, like PostgreSQL, now often include support for JSON data types, allowing for more flexible data models.

6.  *Frontend Frameworks:* Many modern frontend frameworks (like React and Vue.js) use JSON for handling data within the application.

In the context of our Dungeons & Dragons example, a D&D game application might use JSON to store data about different monsters, characters, and game settings. The game might also fetch additional data from a D&D API, which sends back responses in JSON format. This JSON data can then be parsed and used by the application to enhance the gameplay experience.

## Example: Working With DnD Monsters
For the remainder of this chapter, we'll be working with the JSON file `srd_5e_monsters.json` contains data about 327 different monsters from the Dungeons and Dragons universe. Each monster is represented as a JSON object with several attributes. (https://github.com/brendanpshea/database_sql/blob/main/data/srd_5e_monsters.json)

Here are the keys (attributes) for the first monster in the data:

-   `name`: The name of the monster.
-   `meta`: Metadata about the monster, such as its size and alignment.
-   `Armor Class`: The monster's armor class.
-   `Hit Points`: The monster's hit points.
-   `Speed`: The monster's speed.
-   `STR`, `STR_mod`, `DEX`, `DEX_mod`, `CON`, `CON_mod`, `INT`, `INT_mod`, `WIS`, `WIS_mod`, `CHA`, `CHA_mod`: These are the monster's ability scores and their modifiers.
-   `Saving Throws`: The monster's saving throws.
-   `Skills`: An array (list) of the monster's skills.
-   `Senses`: An array (list) of the monster's senses.
-   `Languages`: The languages the monster can speak.
-   `Challenge`: The challenge rating of the monster.
-   `XP`: The amount of experience points  the monster is worth.
-   `Traits`: Traits that the monster possesses.
-   `Actions`: Actions that the monster can take.
-   `Legendary Actions`: Legendary actions that the monster can take.
-   `img_url`: A URL to an image of the monster.

The JSON data is structured as an array of such objects. Each object represents a unique monster, and the keys within each object provide detailed information about that particular monster.

The next step, having understood the structure, would be to import this JSON data into a PostgreSQL database.

## Importing JSON data into SQL
Here's a script for importing JSON data into a PostgreSQL database.

In [1]:
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%sql postgresql+psycopg2://@/postgres

 * Starting PostgreSQL 14 database server
   ...done.
CREATE ROLE

In [ ]:
# download the file
!wget https://github.com/brendanpshea/database_sql/raw/main/data/processed_srd_5e_monsters.json -q

In [ ]:
%%capture
import json

# Load JSON file
with open('processed_srd_5e_monsters.json', 'r') as f:
    data = json.load(f)

# Use SQL magic to connect to PostgreSQL
%sql postgresql+psycopg2://@/postgres

# Create table
%sql DROP TABLE IF EXISTS monsters;
%sql CREATE TABLE monsters (data JSONB);

# Insert JSON data into the table
for monster in data:
    monster_json = json.dumps(monster)
    %sql INSERT INTO monsters (data) VALUES (:monster_json)

In [ ]:
## Make sure we have got all the monsters!
%sql SELECT COUNT(*) FROM monsters;

 * postgresql+psycopg2://@/postgres
1 rows affected.

[(327,)]

In [ ]:
## Display the first monster
%sql SELECT * FROM monsters LIMIT 1;

 * postgresql+psycopg2://@/postgres
1 rows affected.

[({'XP': 5, 'CHA': '18', 'CON': '15', 'DEX': '9', 'INT': '18', 'STR': '21', 'WIS': '15', 'meta': 'Large aberration, lawful evil', 'name': 'Aboleth', 'Sp ... (3405 characters truncated) ... ). One creature charmed by the aboleth takes 10 (3d6) psychic damage, and the aboleth regains hit points equal to the damage the creature takes.</p>"},)]

## How to Query JSON Data Using Postgres
First, it's important to understand how we've stored our JSON data in PostgreSQL. We've created a table named `monsters`, which has a single column named `data` of type `JSONB`. Each row in this table contains a JSON object, which represents a single monster.

Now, when it comes to querying JSON data in PostgreSQL, we can use the `->`, `->>`, and `#>` operators.


-   `->`: This operator is used to get a JSON object field by key. The result is a JSON object or array. For example, `data->'name'` would give us the name of the monster as a JSON object (as an "element of a JSON array" or "value of the name field).

-   `->>`: This operator is also used to get a JSON object field by key, but the result is text. For example, `data->>'name'` would give us the name of the monster as text.

-   `#>`: This operator is used to get a JSON object field by a path. A path is an array of key strings. This is useful when our JSON objects have nested objects or arrays.

Let's start with a simple example:

In [ ]:
%%sql
--Get the names of the first five monsters
SELECT data->>'name' AS Monster_Name
FROM monsters
LIMIT 5;

 * postgresql+psycopg2://@/postgres
5 rows affected.

[('Aboleth',),
 ('Acolyte',),
 ('Adult Black Dragon',),
 ('Adult Blue Dragon',),
 ('Adult Brass Dragon',)]

Here's what this query does:

-   `SELECT`: This keyword is used to select data from a database. The data returned is stored in a result table, called the result-set.

-   `data->>'name'`: Here, we're using the `->>` operator to get the `name` field from our `data` JSON objects. The result will be the name of the monster, as text.

-   `AS Monster_Name`: The `AS` keyword is used to rename a column or table with an alias. Here, we're renaming our `data->>'name'` column to `Monster_Name`.

-   `FROM monsters`: This specifies the name of the table that we're selecting data from. In this case, it's our `monsters` table.

-   `LIMIT 5`: This is used to limit the number of rows returned in a result set. Here, we're limiting our result set to the first 5 rows.

The result of this query should be the names of the first 5 monsters in our table.

## Retrieving Nested Data
Now that we've learned how to retrieve a specific attribute from our JSON data (in this case, the monster's name), let's explore more ways to interact with our JSONB column in PostgreSQL.

In our `monsters` table, each monster object has several skills. Some of these attributes could be objects or arrays themselves. For instance, if a monster has an attribute `Skills` that is an array of abilities, we can use the `->` operator to access this array. Let's consider an example where we want to access the first ability of each monster:

In [ ]:
%%sql
SELECT data->'name' AS Name,
  data->'Skills'->0  AS First_Ability
FROM monsters
LIMIT 5;

 * postgresql+psycopg2://@/postgres
5 rows affected.

[('Aboleth', 'History +12'),
 ('Acolyte', 'Medicine +4'),
 ('Adult Black Dragon', 'Perception +11'),
 ('Adult Blue Dragon', 'Perception +12'),
 ('Adult Brass Dragon', 'History +7')]

## Filtering Data

We can also use these operators in the `WHERE` clause to filter our data. For example, if we want to get all monsters with a hit points greater than 300:

Here, `(data->>'Hit Points')::int > 300` is used in the `WHERE` clause to filter our data. We're casting the hit points to an integer using `::int` because the `->>` operator returns text, but we need to perform a numerical comparison.

In [ ]:
%%sql
SELECT data->>'name' AS Monster_Name
FROM monsters
WHERE (data->>'Hit Points')::int > 300;

 * postgresql+psycopg2://@/postgres
12 rows affected.

[('Ancient Black Dragon',),
 ('Ancient Blue Dragon',),
 ('Ancient Bronze Dragon',),
 ('Ancient Copper Dragon',),
 ('Ancient Gold Dragon',),
 ('Ancient Green Dragon',),
 ('Ancient Red Dragon',),
 ('Ancient Silver Dragon',),
 ('Ancient White Dragon',),
 ('Dragon Turtle',),
 ('Kraken',),
 ('Tarrasque',)]

## Aggregating Data

We can perform aggregation operations like COUNT, MAX, MIN, AVG, etc., on the data. For instance, if we want to find the average hit points of all monsters:

In [ ]:
%%sql
SELECT AVG((data->>'Hit Points')::int) AS AVG_HP,
  MAX((data->>'Hit Points')::int) AS Max_HP,
  MIN((data->>'Hit Points')::int) AS Min_HP
FROM monsters;

 * postgresql+psycopg2://@/postgres
1 rows affected.

[(Decimal('81.3425076452599388'), 676, 1)]

In this query, we're using the AVG function to find the average of the hit points.

Remember, the keys we use to access the data (`name`, `Skills`, `Hit Points`, etc.) are dependent on the structure of the JSON objects in your monsters table. Always make sure to understand the structure of your JSON data before attempting to query it.

Take some time to try out these queries, and see what kind of data you can extract from the monsters table. As you get more comfortable with these operators and JSON data in general, you'll find that you can perform very powerful and flexible queries with PostgreSQL and JSONB.

### The `@>` Operator

The `@>` operator is known as the "contains" operator in PostgreSQL. It checks if the left-hand JSON value contains the right-hand JSON value. This operator is particularly useful when dealing with JSON arrays.

For example, suppose we have a JSON object representing a monster and we want to check if "Draconic" is in the monster's list of languages. We could do so with the following query:

In [ ]:
%%sql
SELECT data->'name' AS monster_name
FROM monsters
WHERE data->'Languages' @> '["Draconic"]'
LIMIT 5;

 * postgresql+psycopg2://@/postgres
5 rows affected.

[('Adult Black Dragon',),
 ('Adult Blue Dragon',),
 ('Adult Brass Dragon',),
 ('Adult Bronze Dragon',),
 ('Adult Copper Dragon',)]

## Review: Basic JSON Operations

Let' consider  a mock JSON object for the Killer Rabbit of Caerbannog:

```

{
  "name": "Killer Rabbit of Caerbannog",
  "meta": "Tiny beast, unaligned",
  "Armor Class": "20",
  "Hit Points": "30",
  "Speed": ["100 ft."],
  "STR": "2",
  "STR_mod": "(-4)",
  "DEX": "15",
  "DEX_mod": "(+2)",
  "CON": "11",
  "CON_mod": "(+0)",
  "INT": "2",
  "INT_mod": "(-4)",
  "WIS": "12",
  "WIS_mod": "(+1)",
  "CHA": "3",
  "CHA_mod": "(-4)",
  "Skills": ["Perception +3", "Stealth +10"],
  "Senses": ["Darkvision 30 ft.", "Passive Perception 13"],
  "Languages": [],
  "Challenge": "5 (1000 XP)",
  "Traits": ["<p>The rabbit can hide as a Bonus Action, and it has advantage on attack rolls against a creature if at least one of the rabbit's allies is within 5 feet of the creature and the ally isn't incapacitated.</p>"],
  "Actions": ["<p><strong>Bite.</strong> Melee Weapon Attack: +10 to hit, reach 5 ft., one target. Hit: 1d100 piercing damage.</p>"],
  "img_url": "https://example.com/killer_rabbit.jpg"
}

```
Here are the queries related to this entry:

| English Description | PostgreSQL Code |
| --- | --- |
| Get the speed of the Killer Rabbit (stored in JSON column data)| `SELECT data->'Speed' FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Get the Strength score and modifier of the monster Killer Rabbit (stored in JSON column data) | `SELECT data->>'STR', data->>'STR_mod' FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Get all the skills of the Killer Rabbit (stored in JSON column data) | `SELECT data->'Skills' FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Get the first skill of the Killer Rabbit (stored in JSON column data) | `SELECT data->'Skills'->0 FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Check if the Killer Rabbit can speak any languge  (stored in JSON column data) | `SELECT data->'Languages' IS NOT NULL FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Get the XP of the Killer Rabbit | `SELECT data->>'Challenge' FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Get the URL of the monster's image | `SELECT data->>'img_url' FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |
| Get all the actions of the Killer Rabbit (stored in JSON column data)| `SELECT data->'Actions' FROM monsters WHERE data->>'name' = 'Killer Rabbit of Caerbannog';` |

## Exercises
1.  Find the names of all monsters that have a challenge rating of 10.

    -   Hint: Use the `->>` operator to access the "Challenge" attribute of the `data` column.
2.  Find the top 10 monsters with the highest armor class.

    -   Hint: Use the `->>` operator to access the "Armor Class" attribute, cast it to an integer, and then use the `ORDER BY` and `LIMIT` clauses.
3.  Count how many monsters have "Legendary Actions".

    -   Hint: Use the `->` operator to check if the "Legendary Actions" attribute exists.
4.  Find the names of all monsters that can speak the "Common" language.

    -   Hint: Use the `@>` operator to check if the "Languages" array contains the "Common" language.
5.  Find the average hit points of all monsters.

    -   Hint: Use the `->>` operator to access the "Hit Points" attribute, cast it to an integer, and then use the `AVG` function.
6.  Find all monsters that have a "Passive Perception" sense.

    -   Hint: Use the `@>` operator to check if the "Senses" array contains the "Passive Perception" sense.
7.  Find all monsters that have a strength score (STR) of 20 or higher.

    -   Hint: Use the `->>` operator to access the "STR" attribute, cast it to an integer, and then use the `WHERE` clause to filter the results.
8.  Find the name and speed of the monster with the highest speed.

    -   Hint: Use the `->>` operator to access the "Speed" attribute, cast it to an integer, and then use the `ORDER BY` and `LIMIT` clauses.
9.  Find all monsters that have "Stealth" in their list of skills.

    -   Hint: Use the `@>` operator to check if the "Skills" array contains the "Stealth" skill.

In [ ]:
%%sql
--Exefcise 1

In [ ]:
%%sql
--Exefcise 2

In [ ]:
%%sql
--Exefcise 3

In [ ]:
%%sql
--Exefcise 4

In [ ]:
%%sql
--Exefcise 5

In [ ]:
%%sql
--Exefcise 6

In [ ]:
%%sql
--Exefcise 7

In [ ]:
%%sql
--Exefcise 8

In [ ]:
%%sql
--Exefcise 9

## Case Study: The Emergence of NoSQL and NewSQL Databases

In our previous sections, we delved into the world of JSON and how it handles semi-structured data. This journey through JSON is, in fact, the beginning of a larger exploration into the landscape of modern databases. The way JSON deals with data - its flexibility and simplicity - has deeply influenced the development of NoSQL and NewSQL databases. Let's take a closer look at this progression.

### The Advent of Semi-Structured Data

In the early days of computer science, most data was structured. That is, it conformed to a pre-defined model or schema, much like how data in a relational database fits neatly into rows and columns within a table. However, with the advent of the web and later, the rise of social media, mobile applications, and IoT devices, the nature of data began to change dramatically.

### XML: A Precursor to JSON

The web brought with it an explosion of data that was diverse, complex, and did not neatly fit into the tabular structure of traditional databases. In response to this challenge, **XML (eXtensible Markup Language)** emerged as a popular format for representing this semi-structured data.

XML is a markup language that encodes documents in a human-readable and machine-readable format. It uses a tag-based structure, which allows for hierarchical data representation. Here's an example of what a DnD monster might look like in XML:

```
<monster>
    <name>Aboleth</name>
    <meta>Large aberration, lawful evil</meta>
    <armorClass>17 (Natural Armor)</armorClass>
    <hitPoints>135 (18d10 + 36)</hitPoints>
    <speed>
        <walk>10 ft.</walk>
        <swim>40 ft.</swim>
    </speed>
    <!-- ...and so on... -->
</monster>
```

XML was widely adopted due to its flexibility and universal standards. However, it is also verbose and can be complex to parse, especially for web applications.

### The Rise of JSON

In response to the complexity of XML, JSON (JavaScript Object Notation) emerged as a simpler, more lightweight alternative. JSON is a text-based data interchange format derived from JavaScript, but it is language-independent. As we've seen above, JSON structures data as collections of key-value pairs and arrays, allowing it to represent complex data structures in a straightforward way. It is also less verbose than XML and easier to work with in web applications, which often use JavaScript.

This shift from XML to JSON reflected the broader trend towards increasingly semi-structured data - neither fully structured like in a relational database, nor completely unstructured like free-form text. JSON, with its balance of simplicity and flexibility, was well-suited to this new landscape of data.

## The NoSQL Movement

The NoSQL movement began as an answer to the limitations of traditional relational databases. As we moved from structured to semi-structured data, the need for more flexible data models became apparent. Inspired by the versatility and ease-of-use of JSON, NoSQL databases emerged to fill this gap.

NoSQL databases, which stands for "Not Only SQL", were designed to handle diverse types of data that didn't conform to the rigid, tabular structure of traditional relational databases. They introduced new types of data models, including document, key-value, columnar, and graph formats.

### MongoDB: JSON's Influence on NoSQL Databases

One of the most well-known NoSQL databases, MongoDB, directly draws from JSON's structure for its data model. MongoDB uses a format called BSON (Binary JSON), which extends the JSON model to provide additional data types, ordered fields, and other functionality. In MongoDB, data is stored in flexible, JSON-like documents, meaning that fields can vary from document to document and the data structure can be altered over time.

This flexible model aligns well with how developers in object-oriented languages write their code, making MongoDB a natural fit for modern development practices. For instance, our DnD monster data could be stored in MongoDB as individual documents for each monster, with each document being a JSON-like structure containing all of the monster's data.

Here are some examples of queries in MongoDB with their English descriptions. Please note that these examples assume we have a MongoDB collection named `monsters` filled with our DnD monster data:

| MongoDB Query | English Description |
| --- | --- |
| `db.monsters.find({ "name": "Aboleth" })` | Find the monster with the name "Aboleth". |
| `db.monsters.find({ "Armor Class": { $gt: 15 } })` | Find all monsters with an Armor Class greater than 15. |
| `db.monsters.find({ "Speed.walk": { $exists: true } })` | Find all monsters that have a walking speed. |
| `db.monsters.find({ "Languages": "Common" })` | Find all monsters that can speak the "Common" language. |
| `db.monsters.find({ "Hit Points": { $lt: 100 } })` | Find all monsters with less than 100 hit points. |
| `db.monsters.count({ "Legendary Actions": { $exists: true } })` | Count all monsters that have legendary actions. |
| `db.monsters.find().sort({ "name": 1 }).limit(5)` | Find the names of the first 5 monsters, sorted alphabetically. |

These queries illustrate how MongoDB's flexible, JSON-like data model can be used to interact with semi-structured data in powerful ways. It's a key example of how the flexibility and simplicity of JSON has influenced the landscape of modern databases.

### The Emergence of NewSQL

While NoSQL databases brought flexibility and scalability, they often compromised on some features that were strengths of relational databases, particularly ACID (Atomicity, Consistency, Isolation, Durability) guarantees and the ability to perform complex queries.

This led to the emergence of NewSQL databases. NewSQL databases sought to bring the best of both worlds: the scalability and flexibility of NoSQL databases and the ACID guarantees and SQL interface of traditional relational databases.

For instance, Google Spanner and CockroachDB, popular NewSQL databases, leverage distributed architectures and advanced consensus algorithms to provide strong consistency at global scale, while also offering a familiar SQL interface for interacting with data.

In summary, the journey from JSON to NoSQL and NewSQL reflects the evolving landscape of data storage and management. As we move from structured to semi-structured data, from single servers to distributed systems, and from rigid schemas to flexible data models, our tools adapt and evolve. Understanding this progression helps us appreciate why different databases exist and how to choose the right one based on our specific needs.

## Traditional RDBMSs Respond to the NoSQL and NewSQL Movement

The rise of NoSQL and NewSQL databases, while significant, did not spell the end for traditional relational database management systems (RDBMSs). In fact, it spurred them to evolve and adapt to the changing landscape of data storage and management. Let's explore how prominent RDBMSs like Oracle, MySQL, SQL Server, and PostgreSQL have responded to these shifts.

### Embracing Semi-Structured Data

One of the major ways that RDBMSs have adapted is by incorporating support for semi-structured data. Recognizing the growing importance of JSON, XML, and other semi-structured formats, these systems have introduced new features and data types to handle them.

For instance, PostgreSQL introduced a JSON data type in version 9.2, and enhanced it with the JSONB type in version 9.4, which allows for binary storage of JSON documents. MySQL, Oracle, and SQL Server have also introduced similar functionality. These features allow developers to store and query JSON data in a manner similar to NoSQL databases like MongoDB, while still retaining the benefits of a relational model where it is appropriate.

### Scaling with the Cloud

The advent of cloud computing has also had a profound impact on RDBMSs. As data volume grew and scalability became increasingly important, these systems needed to find ways to distribute data across multiple servers and even multiple data centers.

Most major RDBMS vendors now offer cloud-based versions of their systems, such as Amazon RDS for MySQL and PostgreSQL, Microsoft Azure SQL Database, and Oracle Cloud Infrastructure Database Service. These cloud-based systems provide a range of benefits, including easy scalability, automated backups, and high availability.

### NewSQL Features

Even the NewSQL movement, with its emphasis on combining the best of the SQL and NoSQL worlds, has found echoes within traditional RDBMSs. For example, MySQL introduced the InnoDB Cluster feature, which provides high-availability and scalability features akin to those found in NewSQL databases.

### Why RDBMSs Remain Dominant

Despite the growing popularity of NoSQL and NewSQL databases, RDBMSs continue to hold a dominant position in the industry. There are several reasons for this:

1.  *Maturity:* RDBMSs have been around for decades, and they are mature, stable, and reliable. They have been tested by time and have proven their worth in a wide range of applications.

2.  *ACID Guarantees:* RDBMSs provide strong ACID guarantees, which are crucial for many business applications. While some NoSQL databases offer tunable consistency models, the strict consistency provided by RDBMSs is often necessary to ensure data integrity.

3.  *SQL:* SQL is a powerful and expressive language for querying and manipulating data. Despite the rise of NoSQL, the SQL language remains a de facto standard for interacting with data.

4.  *Ecosystem and Skills:* There is a vast ecosystem of tools and resources built around RDBMSs, and a large pool of developers and administrators skilled in their use.

In conclusion, while NoSQL and NewSQL databases have brought important innovations to the field of data management, traditional RDBMSs have also evolved to meet the same challenges. The choice between these systems often depends on the specific needs of the application and the skills of the development team. The key is understanding the strengths and weaknesses of each, and knowing when to use which.

## Questions: NoSQL, NewSQL, and SQL
1. Can you explain in your own words what JSON is and why it's important? What are some real-world examples of where you might encounter JSON?

2. Why might we want to store JSON data in a database? What are some advantages and disadvantages of doing this?

3. What does NoSQL mean? How are NoSQL databases different from traditional relational databases? Can you think of an example where a NoSQL database might be useful?

4. What is a cloud database? How might using a cloud database be different from using a database on your own computer?

5. We've talked about SQL and NoSQL. Can you think of a situation where you might want to use SQL, and a different situation where you might want to use NoSQL?

## My Answers: NoSQL, NewSQL, and SQL
1.

2.

3.

4.

5.

## Glossary

| Term | Definition |
| --- | --- |
| JSON | Short for "Javascript Object Notation." A lightweight data-interchange format that is easy for humans to read and write and easy for machines to parse and generate. For instance, `{ "name":"Charles", "age":30, "city":"Rochester" }` is a simple JSON document. |
| JSON: Objects | Structures in JSON that are an unordered collection of key-value pairs, enclosed by curly brackets `{}`. In the JSON document `{ "name":"Charlette", "age":30, "city":"Rochester" }`, the entire document is a JSON object. |
| Key | A string in JSON that identifies a certain value. Keys are always strings and are the first component of a key-value pair. For instance, in the pair `"name":"Christie"`, `"name"` is the key. |
| Value | In JSON, a piece of data that can be a string, number, boolean, null, object, or array. It is the second component of a key-value pair. In the pair `"name":"Christie"`, `"Christe"` is the value. |
| JSON: Arrays | Ordered collections of values in JSON, enclosed by square brackets `[]`. For instance, in the JSON document `{"numbers": [7, 2, -3, 4, 5]}`, the list `[7, 2, -3, 4, 5]` is a JSON array. |
| API | Stands for Application Programming Interface. It is a set of rules and protocols for building and interacting with software applications. APIs often output data in JSON format. For example, a weather API might return data about the current weather in a JSON format. |
| Semi-structured data | A form of data that does not conform to the tabular structure of data models associated with relational databases or other forms of data tables, but nonetheless contains tags or other markers to separate semantic elements. JSON and XML are examples of semi-structured data. |
| JSONB (Postgres) | A binary format in PostgreSQL for storing JSON data, which allows for indexing and advanced querying. For instance, a PostgreSQL table might have a column of type JSONB to store JSON documents. |
| ->> (Postgres Operator) | An operator in PostgreSQL that is used to get a JSON object field by key. The result is text. For example, in a query `SELECT data->>'name' FROM monsters;`, `->>` is used to get the `"name"` field as text. |
| NoSQL | A type of database that provides a mechanism for storage and retrieval of data which is modeled in means other than the tabular relations used in relational databases. For example, MongoDB is a NoSQL database that stores data in flexible, JSON-like documents. |
| MongoDB | A NoSQL database program that uses JSON-like documents with optional schemas. For instance, in MongoDB, a collection of users might be stored as JSON-like documents, each representing a user with fields like `name`, `email`, `password`, etc. |
| NewSQL | A class of relational database management systems that seek to provide the scalability of NoSQL systems for online transaction processing (OLTP) workloads while maintaining the ACID guarantees of a traditional database system. For example, Google's Spanner database is a NewSQL database. |