<a href="https://colab.research.google.com/github/brendanpshea/database_sql/blob/main/Database_06_Data_Modeling_and_ER_Diagrams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Modeling and E-R Diagrams with Wednesday Addams
### Brendan Shea, PhD


**Data modeling** is like building the blueprints for a house. But instead of creating spaces for people to live in, we're making space for data to live in a database. This chapter will guide you through the steps of drawing up these blueprints for your database, starting from your initial concept to the final design.

To make things more interesting and practical, we're going to walk through this process using a case study. We'll be helping Wednesday Addams, who wants to build a database for her online shop selling quirky magical items. By the end of this chapter, you'll be equipped with the knowledge to create your own robust and efficient database designs.

![WednesdayDB.jpg]()

## Brendan's Lecture
You can run the following cell to launch my lecture. Later in this chapter, there is a mini-lecture on creating ERDs.

In [ ]:
##Click here to launch my lecture
from IPython.display import YouTubeVideo
YouTubeVideo('L-bO5vVhQ6Q', width=800, height=500)

## Introduction to the Case Study: Wednesday's "Web Shop"
To aid us in our exploration of data modeling, we're going to enlist the help of the famous Wednesday Addams.

No stranger to the peculiar, Wednesday has a fascinating project in her hands - she's creating an e-commerce "Web shop" for trading all things magic. Not your everyday magic rabbits or hats, mind you, but the kind of magic that makes the hairs on the back of your neck stand up. Be it a broom that sweeps itself or a teapot that sings cryptic riddles, Wednesday's website will be a marketplace for items steeped in enchantment.

Now, magic items aren't your usual commodities, each possesses its own set of peculiar traits, meaning Wednesday will need a well-planned database to keep track of them. So, where does she start? What does she need to consider?

For beginners, Wednesday will need a Data Model - a kind of visual map that outlines how all the data within her website will relate to each other. This model will serve as the blueprint for her entire operation. Will she need a separate category for potions and amulets, or should they all be under 'items'? The Data Model can help decide that.

Next, she will consider Conceptual Modeling. This is a way of simplifying the complexity of her data into a higher-level diagram. With an array of enchanted items, from self-pouring teapots to mirrors that tell uncomfortable truths, a conceptual model will help Wednesday and her team to get a general understanding of the data without getting entangled in details.

Then, there are the Business Rules. These are the laws that govern her database, defining how it operates. For instance, should an item be held by multiple owners at the same time? How would trades be conducted? Business rules help answer these questions and provide structure to the data. They can be Structural, which dictates how the data is organized, or Procedural, which dictates how the operations are performed.

To visualize her database and its relationships more intuitively, Wednesday will rely on Entity-Relationship Diagrams (ERDs). Using ERDs, she can represent entities - like witches, potions, or flying brooms - and show the relationships between them. Whether she uses Chen's notation or Crow's Foot, these diagrams will be invaluable in understanding the structure of her data.

Distinguishing between entities and their attributes is also key. Entities are the things she wants to keep track of - like a magic item or a customer. Attributes are the specific pieces of data associated with each entity - like the item's age or the customer's name. Some attributes may be mandatory, like the name of an item, while others may be optional, like its curse status.

Understanding relationships between entities and deciding on Unique Identifiers (UIDs) and Primary Keys will also be part of her journey. Relationships determine how one entity is associated with another. UIDs and primary keys, meanwhile, help in uniquely identifying each record in her database.

Wednesday's challenge doesn't stop at the Conceptual model. She will also have to build a Physical Model, which includes specific technical details about how her database will be implemented.

This chapter will delve into these concepts, using Wednesday's peculiar case as a backdrop. Well uncover the intricacies of managing many-to-many relationships, choosing appropriate data types, and much more. We hope you're ready for a fun, macabre, and informative ride! After all, as Wednesday would remind us, "Life's not all lovely thorns and singing vultures, you know."

## Data Models as Blueprints

"Imagine building a haunted house without a blueprint," Wednesday Addams might say, "Sure, you could probably throw something together, but will it withstand the first ghoulish storm or the weight of an attic full of bewitched artifacts?" Similarly, a **data model** serves as the blueprint in the world of databases. It's a simplified representation---usually visual, mathematical, or symbolic---of complex real-world data structures and the relationships between them.

British statistician George E.P. Box once said, "All models are wrong, but some are useful." He meant that while no model can perfectly encapsulate the complexity and unpredictability of the real world, good models can simplify that complexity into something understandable and useful. They help us predict outcomes, make informed decisions, and understand systems better.

When it comes to databases, data models are indispensable tools for several reasons:

1.  *Planning and Structuring Data:* A data model helps organize data systematically and logically. This aids in understanding what data is needed and how it should be organized. For Wednesday, this could mean figuring out how to categorize her array of magic items and their various attributes in a coherent way.

2.  *Increasing Efficiency:* A well-planned data model enhances the efficiency of a database by reducing data redundancy and improving data integrity. It helps ensure that the system can effectively store, retrieve, and manage data. This means that when a witch in Timbuktu orders a self-sweeping broom at midnight, the order is processed smoothly without any hitches.

3.  *Improving Communication:* Data models provide business and technical teams a shared language. They serve as a collaboration tool, helping stakeholders visualize data structures and validate requirements. So, whether it's Wednesday's coven of web developers or the users of her magical marketplace, everyone can better understand how the data works.

So how might a data model aid Wednesday in designing her magic item shopping site? Well, imagine she's got an ancient wand listed on her website. This wand could have numerous attributes: its material, its age, the spells it can cast, its price, and so on. Now, how does she link this wand to its previous owners, or to the customers interested in buying it? And what about the transaction data? The answers to these questions lie in creating a robust data model, which will help her design an efficient, user-friendly website that even the most discerning witches and wizards would enjoy using.

Remember, a data model is not an end in itself but a means to an end. As Wednesday's peculiar sense of humor might prompt her to say, "A good data model is like a good tombstone. It stands the test of time, and even if it doesn't tell the whole story, it provides enough information to pique one's curiosity."

## Conceptual Modeling: A Bird's-Eye View of Your Data Universe

Just as Wednesday Addams might lay out the pieces of a disquieting jigsaw puzzle of a graveyard on a cold, gloomy evening, conceptual modeling involves arranging complex data into a clear, comprehensive picture. It's all about creating a high-level, simplified diagram of a database. This model doesn't delve into the nitty-gritty of technical details but instead focuses on the big picture: the critical entities in the database and their relationships.

Let's take a moment to decode that a bit. When we speak about **entities**, we're referring to the significant objects or concepts in our data universe. In Wednesday's case, an entity could be a 'magic item', a 'customer', or a 'transaction'.  On the other hand, **relationships** are the associations or interactions between these entities. For example, a 'customer' might 'purchase' a 'magic item', forming a relationship between those two entities.

A **conceptual (logical)** model captures these entities and relationships in a manner that's easily understood, not just by database designers or developers, but by non-technical stakeholders too. It's an invaluable tool that fosters better team communication and understanding.

But how does Wednesday Addams, purveyor of all things magical and mysterious, create a conceptual model for her magic item website?

- First, she'd identify the key entities in her database. These could be 'magic items', 'customers', 'transactions', 'suppliers', or anything else significant to her website. Each entity would be a major category of data that she needs to keep track of.

- Next, she'd identify the relationships between these entities. Does a customer 'buy' a magic item? Does a supplier 'supply' a magic item? These relationships would illustrate how the different entities interact with each other.

- Then, she'd represent all these entities and relationships in a high-level, easy-to-understand diagram. This might look like a bunch of boxes (representing entities) connected by lines (representing relationships), but to Wednesday, it would be an essential roadmap for her website's data structure.

By creating this conceptual model, Wednesday would establish a clear, coherent view of her website's data. It would be a simplified snapshot of her entire database, giving her and her team a strong foundation to build upon. And as Wednesday might dryly note, "Just like planning a good prank, the success of a project often lies in the preparation."

## Business Rules: The Laws Governing Your Data Universe

Imagine a rule at the Addams Family dinner table: "Always compliment Morticia's deadly nightshade salad." That's a business rule, but in the world of databases. Precisely defined, **business rules** are explicit, actionable, and business-specific criteria that provide a robust framework for an organization's decision-making, behavior, and operations. They act as the structural and operational directives guiding a system. (Note: In the context of data modeling, a "business" might be anything from a scientific research project to a video game--it doesn't necessarily have to involve money or sales).

In conceptual modeling, business rules play a fundamental role. They shape the structure and flow of data and precisely define business operations, directly influencing how entities and relationships are formed and manipulated. Comprehending these business rules aids in creating a data model that mirrors the realities of the business.

Business rules can be of two types:

1.  **Structural Rules:** These rules pertain to the organization of data within the system. They outline the relationships between entities and stipulate how data elements correlate. An example in Wednesday's case could be "Each magic item must be affiliated with one category."

2.  **Procedural Rules:** These rules govern the operations performed within the system. They outline the guidelines for processes and transactions that interact with the data. For instance, a rule like "An item must be paid for before it can be shipped" is a procedural rule.

Business rules function as **constraints** on data--specific boundaries placed on the data or operations within the system. They serve to maintain data integrity and reliability. For instance, Wednesday could have a rule such as "The listed price of a magic item must be a positive number.  
Now, considering Wednesday's uniquely peculiar magic item shop, here are five potential business rules:

1. Each magic item should have at least one associated magical property. (Structural Rule)
2.  A customer must provide a valid magical identification number to make a purchase. (Procedural Rule)
3.  A magic item cannot belong to multiple categories (e.g., potions, amulets). (Structural Rule)
4.  Customers can only purchase items if their magical credit score exceeds a certain threshold. (Procedural Rule)
5.  All transactions must be recorded with the customer's ID, item ID, and the date of purchase. (Structural Rule)

These business rules, whether invisible directives or explicit constraints, are the governing principles for Wednesday's magic item shop. Like a well-spun spiderweb, they provide a consistent, reliable, and efficient framework for managing data. Or as Wednesday might put it, "In a world where the norm is peculiar, rules are your only constant."

## Entity-Relationship Diagrams: Mapping the Data Landscape

If the Addams Family mansion were a database, an Entity-Relationship Diagram (ERD) would be its floor plan. ERDs are graphical tools that allow us to map out and visualize the various entities in a database and the relationships between them. In Wednesday's case, creating an ERD for her magic item shop would help her better understand how different data elements interact with one another.

An ERD is essentially a collection of symbols representing entities (think: tables), attributes (think: columns), and relationships (think: connections). Now, there are several ways we can draw an ERD, and two popular notations are Chen's and Crow's Foot.

### Chen's Notation

Invented by Peter Chen in the 1970s, this notation represents entities as rectangles, attributes as ovals, and relationships as diamonds. Lines are used to link these symbols together. The relationship symbols also contain verbs that describe the interaction between entities. The basic symbols are:

- Entities are represents by RECTANGLES.
- Atttributes are represented by OVALS.
- Attributes that are keys are UNDERLINED.
- Relationships are represented by DIAMONDS.
- Cardinality (number) are represted by LABELS on LINES. N means "many" and 1 means "one."
- Solid lines are **mandatory** (required), while dotted lines are **optional.**

So, suppose Wednesday were using Chen's notation. In that case, she might have a rectangles labeled 'Customer' and 'Order', an oval labeled 'Name', and a diamond labeled 'Buys' to represent the relationship between a customer and the items they purchased.

![Simple_Chen](https://github.com/brendanpshea/database_sql/raw/main/images/Wed_Chen_Simple.svg)



Here, the "M" and "N" indicate that there is a "many-to-many" (cardinality) relationship between Customers and Items. That is, one customer can buy many items, and Item of a given type can be bought by many customers.

### Crow's Foot Notation

This notation, with its simplified design, is widely used for its ease of interpretation. In this notation:

- Entities are represented by RECTANGLES
- Relationships are represented by LINES directly connecting those rectangles
- Attributes are written insides the rectangles
- The 'Crow's Foot' - three lines at the end of the relationship line - represents the 'many' in a 'one-to-many' or 'many-to-many' relationship.
- A "one" (as opposed to "many") is a single line.
- Optional relationships are denoted by a small "o" on the line, while mandatory relationshiprs have a "|".


For example, Wednesday might connect a rectangle labeled 'Customer' to another labeled 'Order' with a line that has a crow's foot near the 'Order' rectangle. This would represent that one customer can buy many orders.


![Simple_Crow](https://github.com/brendanpshea/database_sql/raw/main/images/Wed_Crow_Simple.svg)

Entity-Relationship diagrams can also be described by the use of **"ERDish" sentences**. These sentences allow us to express the elements of an ERD in a simple, English-like language. For example, some ERDish sentence for a relationship might be:

1. "A Customer (entity) can Buy (relationship) many Items (entity).
2. "A Customer (entity) Has a Name (attribute)."
3. "An Item (entity) can be Bought (relationship) by many Customers (entity)."

You don't necessarily need to inlude the labels such as "(entity)"--I've simply used them here to make there more explicit. This form of representation aids in making ERDs more readable and understandable, especially for stakeholders without a technical background.

As Wednesday Addams starts designing her ERD, she'd choose the notation that suits her best and start defining her entities (e.g., Customers, Items, Transactions), their attributes (e.g., Name, Price, Date), and their relationships (e.g., Buys, Sells, Contains). Her ERD would help her visualize her database structure, enabling her to understand how data flows and interacts within her system.

## Entities and Attributes: Defining the Characters of Your Database Story

As Wednesday knows well, every member of the Addams Family has their unique quirks, just as entities in a database have their distinctive attributes. Entities represent the 'things' or objects we want to collect data about, while attributes are the specific data points associated with each entity.

In the context of Wednesday's magic item shop, potential entities could include 'Customers', 'Magic Items', 'Transactions', and 'Suppliers'. Each of these entities would have its unique attributes. For example, the 'Customer' entity might possess attributes such as 'Name', 'Contact Information', and 'Magical Affiliation', whereas the 'Magic Items' entity could have attributes like 'Item Name', 'Price', 'Category', and 'Cursed Status'.

During the identification process of attributes, Wednesday would distinguish between:

1.  **Mandatory** vs **Optional**: Mandatory attributes must have a value for every instance of an entity. In contrast, optional attributes might not always have a value. For example, the 'Customer Name' could be a mandatory attribute, while 'Magical Affiliation' might be optional, given not all customers are magical beings.
  - In SQL, a mandatoary attribute will eventually be coded with a NOT NULL contraint during the table creation process.
  - On Chen diagrams, optional attributes are sometimes indicated with dotted (as opposed to solid) lines.

2.  **Volatile** vs **Non-volatile**: Volatile attributes change frequently, like 'Item Quantity' for the 'Magic Items' entity, whereas non-volatile attributes are relatively stable, such as 'Item Name'.

After pinpointing her entities and their attributes, Wednesday could craft ERDish sentences to illustrate her data model more understandably:

1.  "A Customer (entity) [Mandatory] has a Name (attribute)."
2.  "A Magic Item (entity) [Optional] may have a Cursed Status (attribute)."
3.  "A Supplier (entity) [Mandatory] has a Contact Information (attribute)."
4.  "A Transaction (entity) [Volatile] can change its Total Amount (attribute)."
5.  "A Customer (entity) [Non-volatile] maintains a Stable Magical Affiliation (attribute)."

In database design, like the crafting of a mysterious potion, every ingredient matters. By meticulously identifying entities and their attributes, Wednesday lays the foundation for an efficient and effective system. After all, even in the peculiar world of the Addams Family, a well-structured plan can make all the difference.

## Unique Identifiers (UIDs) and Primary Keys: The Magical Keys to Unlocking Organized Data

Let's delve back into the mystical world of Wednesday Addams, where every potion has a unique formula, and each customer in her magic item shop has a unique identity. In database terms, these distinct identities are known as Unique Identifiers (UIDs) or Primary Keys.

A **Unique Identifier (UID)** is a specific attribute that sets each record apart within a table. The UID that primarily identifies records within a table is recognized as a **Primary Key.** Remember, these are not just ordinary keys - they hold the power to uniquely identify each record, and no two records can share the same value. EVERy TABLE MUST HAVE A PRIMARY KEY, MADE UP OF ONE OR MORE ATTRIBUTES (the caps are because this is so important!).

Take Wednesday's 'Customer' entity for example, which has attributes like 'Name', 'Contact Information', 'Email', 'Magical Affiliation', 'Favorite Item', 'Last Purchase Date', and 'Referral Source'. At first glance, 'Email' stands out as a potential UID since it is unique for each customer. However, emails can change over time or even become invalid, leading to potential instability in our data. For this reason, Wednesday decides against using 'Email' as a primary key.

So, what's next for Wednesday?

1.  **Candidate UIDs** and **Primary Keys:** Given that none of the existing attributes perfectly fit the role of a UID, Wednesday chooses to create an artificial 'Customer ID'. This ID is an alphanumeric combination, such as 'CUST1234', and serves as the ideal candidate for both a UID and Primary Key.

2.  **Natural** vs **Artificial UIDs/Keys**: Wednesday had natural key options, like 'Email', derived from the data itself. However, considering their potential to change and cause instability, she opts for an artificial key. The 'Customer ID', an alphanumeric value, provides stable identification as it remains constant and isn't subject to change.

3.  **Simple** vs **Composite Keys:** A primary key can be simple (based on a single attribute) or composite (based on multiple attributes). Although 'Name' and 'Email' together could form a composite key, it could still suffer from potential instability if the customer changes their name or email. Hence, Wednesday selects a simple key, 'Customer ID', as her primary key.

4.  **Integer Keys** vs **Alphanumeric Keys:** When creating artificial keys, Wednesday could choose integers (e.g., 1, 2, 3) or alphanumeric values (e.g., CUST123). She opts for the alphanumeric route, providing an added layer of context ('CUST' implies it's a customer ID) and capacity (the combination of letters and numbers allows for a greater number of unique IDs).

In the process of choosing keys, Wednesday considers these guiding principles:

-   Uniqueness: The key should uniquely identify each record.
-   Stability: The key should remain stable over time.
-   Simplicity: Ideally, the key should be a single attribute or a minimal combination of attributes.
-   Consistency: The same key should be used consistently across different tables to represent the same data.

After considering all these factors, Wednesday decides that 'Customer ID' is the perfect Primary Key for her 'Customer' table. It's as unique as a magical sigil, as stable as a centuries-old spell, and as simple and consistent as the elemental symbols in her spellbook.

As every sorcerer needs a unique name to control their magic, every record in a database needs a unique identifier. And so, Wednesday, armed with her carefully chosen UIDs and Primary Keys, is one step closer to mastering the arcane art of databases.

On ERDs, keys are indicated by being UNDERLINED (in Chen) or explicitly labeled (Crow's Foot.)

## Identifying Relationships Between Entities

Entities in a database don't exist in isolation. Like the interconnecting lines in a spell diagram, relationships link entities in a meaningful way, forming the basis of a logical data model.

Let's examine Wednesday Addams' magic item shopping site. Consider two entities - 'Customer' and 'Item'. What relationships might exist between them? How would Wednesday identify these relationships and what does this mean for her conceptual-logical model?

1.  Understanding Relationships: In the simplest terms, relationships are the associations that exist between entities. For instance, a 'Customer' can 'purchase' an 'Item'. This 'purchase' is the relationship that links the 'Customer' and 'Item' entities. In a conceptual data model, we depict these relationships as lines connecting the respective entity boxes.

2.  Cardinality and Optionality: Cardinality describes the numerical attributes of a relationship, that is, how many instances of one entity relate to instances of another entity. For Wednesday's site, each 'Customer' can 'purchase' multiple 'Items', and each 'Item' can be 'purchased' by multiple 'Customers'. This brings us to the concept of optionality. For instance, it is possible that a 'Customer' has not yet made a purchase, so an 'Item' is optional for a 'Customer'. Similarly, an 'Item' may not yet have been purchased by any 'Customer'.

3.  One-to-one, One-to-many, Many-to-many: Here, we dive into the different types of relationships:

    -   One-to-One (1:1): Each instance of Entity A relates to one and only one instance of Entity B, and vice versa. An example for Wednesday's shop could be 'Customer' and 'Customer Profile' - each 'Customer' has one 'Profile', and each 'Profile' belongs to one 'Customer'.
    -   One-to-Many (1:M): Each instance of Entity A can relate to multiple instances of Entity B, but each instance of Entity B relates to only one instance of Entity A. For instance, a 'Customer' can 'make' many 'Orders', but each 'Order' is 'made' by one 'Customer' at a time.
    -   Many-to-Many (M:N): Multiple instances of Entity A can relate to multiple instances of Entity B. For example, many 'Customers' can 'purchase' many 'Items', and vice versa.

    In Chen notation, these relationships are represented as lines connecting entities, with the relationship type ('purchase', for example) inscribed along the line. Cardinality is depicted as '1' and 'N' markers.

    Crow's Foot notation provides a visual representation of cardinality using three pronged 'crow's foot' for 'many' and a straight line for 'one'. The optional nature of a relationship is shown by a small circle or a straight line (mandatory).

Just as a skilled sorceress like Wednesday Addams understands the intricate connections between her spells, potions, and magical items, understanding relationships between entities empowers you to create a more efficient, effective, and meaningful database. It's this magical network of relationships that brings a database to life, enabling it to tell a story, reveal patterns, and unlock insights.

## Types of Relationsips in Chen and Crow's Foot

![Diagram showing connections](https://github.com/brendanpshea/database_sql/raw/main/images/ChenVsCrowsFoot.jpg)

From: Colonel and Morris, 2021, **Database Systems** 13e. Cengage Publishing.

## Wednesday's Business Rules: A Final List

At the end of the day, here are Wednsesday's finally list of business rules.

1.  Each 'Customer' has a a primary key 'CustomerID'.

2.  A 'Customer's' 'Name' is mandatory.

3.  A 'Customer's' 'Email' is mandatory and unique.

4.  A 'Customer's' 'Phone Number' is optional.

5.  An 'Item' has a primary key 'ItemID'.

6.  An 'Item's' 'Name' is mandatory.

7.  An 'Item's' 'Price' is mandatory.

8.  An 'Item's' 'Description' is optional.

9.  Each 'Order' has a primary'OrderID'.

10. Each 'Order' has a mandatory 'Order Date'.

11. An 'Order' can 'contain' many 'Items'.

12. An 'Order' must 'contain' at least one 'Item'.

13. A 'Customer' can 'place' an 'Order'.

14. Each 'Order' is 'placed by' one 'Customer'.

15. Each 'Customer' can 'have' multiple 'Orders'.

16. Each 'Item' can 'be in' many 'Orders'.

## Chen ERD
The complete Chen ERD is as follows:

![Diagram showing connections](https://github.com/brendanpshea/database_sql/raw/main/images/Wed-Chen-Full.svg)

## Mini-Lecture: Creating ERDs
Click below to launch my mini-lecture on creating ERDs.

In [ ]:
##Click here to launch my lecture
from IPython.display import YouTubeVideo
YouTubeVideo('APloV6uLwFU', width=800, height=500)

## Exercise: Create a Crow's Foot Diagram in Diagrams.net
For this exercise, I'd like to create an ERD diagram for Wednesday's database in Crow's Foot diagram, and include it in this notebook. Here are the directions:
1.  Open diagrams.net: Go to the website for https://diagrams.net (or https://www.drawio.com/). This is a web-based application, so there's nothing to download or install.

2.  Create a new diagram: On the home page, click on "Create New Diagram". A popup window will appear. You can name your diagram in the "Diagram Name" field, select the blank template, and click on the "Create" button.

3.  Understand the interface: The interface of diagrams.net is divided into three main areas:

    -   Left Sidebar: Here, you can access shapes, texts, connectors, etc.

    -   Central Working Area: This is where you'll create your diagram.

    -   Right Sidebar: This area is for formatting and styling your shapes and texts.

4.  Select the Entity-Relationship symbols: Click on "Entity Relation" category of symbols at the bottom of the left sidebar.
5.  Draw your diagram:

    -   Drag and drop "Entity" shapes from the left sidebar onto the central working area. Double-click inside these shapes to add text.

    -   Connect the entities using the Crow's Foot Notation symbols. Click on the arrow symbol (Connector) on the left sidebar, and then click and drag between two entities in the central working area to connect them.

6.  Save your work: Click on "File" on the top menu bar and select "Save As". Choose your preferred destination to save the diagram (your device, Google Drive, Dropbox, etc.).

### How to Export a Diagram to SVG Format in Diagrams.net

1.  Navigate to the File menu: Click on the "File" button located in the top menu bar.
2.  Select Export As: In the dropdown list, select "Export as", and then choose "SVG".
3.  Download the file: A dialog box will pop up. Click "Export", and then "Download" on the next screen. This will save the SVG file on your device.

### How to Include the SVG in a Colab Notebook

1. Create a new "text cell" to insert your diagram in and open it to edit.
2.  Choose "insert image". Then upload your SVG file.
3.  Run the cell: Press `Shift + Enter` to run the cell. The diagram should now appear in your Jupyter notebook.

### My Crow's Foot Diagram
Your work goes below:

## How Do I Go From a Conceptual Model to a Physical Model?

Having designed our conceptual model, it's now time to dive into the nitty-gritty and create a **physical model**, the blueprint that guides the construction of the actual database. A physical data model outlines our database system's specific technical requirements and specifications, including the data types, constraints, and relationships among data elements. Here, the real-world considerations of a database system come into play, such as storage capacity, performance optimization, and specific features of the database management system (DBMS) in use.

Our next step is implementing this in the ANSI standard SQL, a widely used language for managing and manipulating databases. In our case, Wednesday Addams would be formulating the spells (SQL statements) to construct her magical shopping site.

- *Many-to-many relationships:* First, we need to handle many-to-many relationships. In the world of relational databases, these relationships are tricky and need to be resolved into two one-to-many relationships using a **junction table** (association table, join table). This table includes the primary keys from both related tables.
    
    - For instance, the relationship between 'Order' and 'Item' is many-to-many: one order can contain many items, and one item can be in many orders. This would be resolved in SQL by creating an 'OrderDetail' table that references both 'Order' and 'Item' tables.

- *Choosing data types:* In choosing data types, we need to consider what kind of data will be stored in each attribute and what operations we need to perform on that data. SQL provides a range of data types such as INT (integer), DECIMAL for precise numeric values, VARCHAR for variable-length strings, and DATE for dates.
    - For instance, 'CustomerID' could be INT, 'Email' could be VARCHAR, and 'Order Date' could be DATE.

- *Implementing Constraints:* We also need to implement constraints that enforce the data's business rules. These can range from ensuring unique identifiers (e.g., using the UNIQUE keyword for 'CustomerID' and 'Email' in the 'Customer' table), making sure certain attributes must have data (e.g., NOT NULL for 'Name' and 'Email' in the 'Customer' table), to specifying relationships between tables (e.g., using the FOREIGN KEY keyword to link 'OrderDetail' to 'Order' and 'Item').

Translating a conceptual model into a physical model, and subsequently into SQL, is akin to Wednesday Addams preparing her potion ingredients, stirring them together in a cauldron, and casting the perfect spell to bring her magical shopping site to life.

## Data Definition Language (DDL)

In the realm of SQL, the **Data Definition Language (DDL)** is the set of SQL commands used to create, modify, and delete database structures but not data. These commands will serve as Wednesday's incantations to mold the structure of her database.

DDL includes commands like CREATE, ALTER, and DROP:

-   CREATE: This command is used to create the database or its objects (like table, index, function, views, triggers, etc.).
-   ALTER: This is used to alter the structure of the database.
-   DROP: This is used to drop the database or its objects.

In particular, the CREATE command is used to summon tables into existence from the void.

### CREATE TABLE Statement

The `CREATE TABLE` statement is a DDL command that allows us to define a new table in the database. It lets us specify the name of the table and the names of the columns, along with their data types and constraints. Here's an example:


```
CREATE TABLE Customer (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(100) NOT NULL,
    Email VARCHAR(255) NOT NULL UNIQUE,
    Phone VARCHAR(15)
);
```

In this spell, Wednesday conjures a `Customer` table with four columns: `CustomerID`, `Name`, `Email`, and `Phone`. `CustomerID` is of type `INT` and is also the `PRIMARY KEY` of the table. `Name` and `Email` are of type VARCHAR with maximum lengths of 100 and 255 characters respectively, and they must contain data (`NOT NULL`). `Email` also has the UNIQUE constraint, meaning all emails in the table must be unique. `Phone` is an optional field, so it doesn't have the `NOT NULL` constraint.

The `CREATE TABLE` command lays the foundation of the database, where all the data will be stored. It is a crucial step in setting up Wednesday's magical item shopping site.

## Data Types and Constaints in SQL
When creating and updating tables in SQL, we need to think about the **data types** of each attribute, as well as the **constraints** on their values. (We get these things from our conceptual model). Here are the main options we have:

Here is a summary of some commonly used ANSI-standard SQL data types:

| Data Type | Description |
| --- | --- |
| INT | An integer number, typically used for numerical values without decimal points. |
| DECIMAL | A precise number with a fixed number of digits to the right of the decimal point, typically used for monetary or other exact numeric values. |
| VARCHAR | A variable-length string of characters, useful for text-based data of varying lengths, such as names or addresses. |
| CHAR | A fixed-length string of characters, useful for storing fixed-length data such as postal codes or country codes. |
| DATE | Used for date values, typically in the format 'YYYY-MM-DD'. |
| TIME | Used for time values, typically in the format 'HH:MI:SS'. |
| TIMESTAMP | Combines both date and time values. |
| BOOLEAN | Used for Boolean logical values (TRUE or FALSE). |
| BLOB | Binary Large Object, used for storing large amounts of binary data like images or files. |

Now, let's look at some of the key constraints available in SQL:

| Constraint | Description |
| --- | --- |
| PRIMARY KEY | Uniquely identifies each record in a database table. Each table has only one primary key which may consist of single or multiple fields. |
| FOREIGN KEY | Uniquely identifies a record in another table, establishing a link between two tables. |
| UNIQUE | Ensures that all values in a column are different, providing a way to enforce uniqueness beyond the primary key. |
| NOT NULL | Ensures that a column cannot have a NULL value, guaranteeing that every record has a value in this field. |
| CHECK | Ensures that the value in a column meets certain specified conditions. |
| INDEX | Used to create and retrieve data from the database very quickly. Not a constraint per se, but a performance optimization technique. |
| DEFAULT | Provides a default value for a column when none is specified. |

When designing her magical item shopping site, Wednesday Addams would need to strategically utilize these data types and constraints to ensure her database functions efficiently and correctly.

## Creating Tables for Wednesday's Web Shop
We can now go about creating the tables for Wednesday's Web Shop

In [ ]:
# For this section, we need to use PostgreSQL,
# which fully support ANSI SQL ALTER TABLE functions

!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%sql postgresql+psycopg2://@/postgres

 * Starting PostgreSQL 14 database server
   ...done.
CREATE ROLE

In [ ]:
%%sql
-- First, we'll make sure the table don't exist yet
--This might be the case if we've already "run" the cells below
DROP TABLE IF EXISTS Customers CASCADE;
DROP TABLE IF EXISTS Items CASCADE;
DROP TABLE IF EXISTS Orders CASCADE;
DROP TABLE IF EXISTS Order_Item;

 * postgresql+psycopg2://@/postgres
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
-- Now, create the 'Customers' table:
CREATE TABLE Customers (
    CustomerID CHAR(10) PRIMARY KEY, -- We use CHAR(10) to hold a 10-character unique ID.
    Name VARCHAR(100) NOT NULL, -- Name is mandatory, VARCHAR is used for potentially long and varying lengths.
    Email VARCHAR(255) NOT NULL UNIQUE, -- Email is mandatory and must be unique.
    Phone VARCHAR(15) -- Phone is optional, it can be NULL.
);

 * postgresql+psycopg2://@/postgres
Done.

[]

In [ ]:
%%sql
-- Create the 'Items' table:
CREATE TABLE Items (
    ItemID INT PRIMARY KEY, -- An integer is sufficient and efficient for a unique ItemID.
    Name VARCHAR(100) NOT NULL, -- Name is mandatory, and VARCHAR suits varying lengths.
    Price DECIMAL(10,2) NOT NULL, -- Price is mandatory. A DECIMAL type suits monetary values, with precision up to 2 decimal places.
    Description TEXT -- Description is optional, and TEXT is suitable for long strings.
);

 * postgresql+psycopg2://@/postgres
Done.

[]

In [ ]:
%%sql
-- Create The 'Orders' table:
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY, -- We use INT for OrderID, as it is a straightforward, efficient data type for unique identifiers.
    OrderDate DATE NOT NULL, -- Order Date is mandatory, and DATE type is appropriate.
    CustomerID CHAR(10) NOT NULL, -- To link the Order to the Customer, the CustomerID is mandatory.
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) -- Ensuring the CustomerID in Order corresponds to a valid Customer.
);

 * postgresql+psycopg2://@/postgres
Done.

[]

Now, the 'Order' can 'contain' many 'Items', but must 'contain' at least one. This sounds like a classic many-to-many relationship. To handle this, we use a junction table, which we'll call 'Order_Item'. It will have foreign keys to both 'Order' and 'Item' and will allow us to represent the many-to-many relationship.

In [ ]:
%%sql
-- The 'Order_Item' junction table:
CREATE TABLE Order_Item (
    OrderID INT,
    ItemID INT,
    Quantity INT NOT NULL CHECK (Quantity > 0), -- Each Order must contain at least one Item.
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ItemID) REFERENCES Items(ItemID),
    PRIMARY KEY (OrderID, ItemID) -- The combination of OrderID and ItemID is unique.
);

 * postgresql+psycopg2://@/postgres
Done.

[]

That takes care of all the rules in Wednesday's scenario!

## The INSERT Statement

With the structure of the tables defined using the `CREATE` TABLE command, Wednesday Addams is now ready to populate them with data using the `INSERT` statement. The syntax is as follows:

```
INSERT INTO table_name (column1, column2, column3,...)
VALUES (value1, value2, value,...);
```

In this command, `table_name` is the name of the table where you want to insert the data. `column1, column2, column3,...` are the names of the columns in the table where you want to add the data. `value1, value2, value3,...` are the values to be added.

Let's see an example of how Wednesday can add a customer to her 'Customer' table:

```
INSERT INTO Customer (CustomerID, Name, Email, Phone)
VALUES ('CUST12345', 'Gomez Addams', 'gomez@addams.com', '123-456-7890');
```

In this statement, Wednesday is adding a new customer with 'CustomerID' 'CUST12345', 'Name' 'Gomez Addams', 'Email' '<gomez@addams.com>', and 'Phone' '123-456-7890'.

It's important to note that the values must be listed in the same order as the columns. Also, text and date values should typically be enclosed in single quotes.

If she's adding values for all the columns, Wednesday could leave out the column names, like so:

```
INSERT INTO Customer
VALUES ('CUST12345', 'Gomez Addams', 'gomez@addams.com', '123-456-7890');
```

However, it's considered good practice always to include the column names for clarity and to avoid potential errors if the table structure changes in the future.

With the INSERT command, Wednesday can fill her database with customers, items, and orders, and bring her magic item shop to life!

In [ ]:
## Sample data
%%sql
-- Inserting Customers:
INSERT INTO Customers (CustomerID, Name, Email, Phone)
VALUES
('CUST0001', 'Gomez Addams', 'gomez@addams.com', '123-456-7890'),
('CUST0002', 'Morticia Addams', 'morticia@addams.com', '123-456-7891'),
('CUST0003', 'Pugsley Addams', 'pugsley@addams.com', NULL),
('CUST0004', 'Thing', 'thing@addams.com', NULL);

 * postgresql+psycopg2://@/postgres
4 rows affected.

[]

In [ ]:
%%sql
-- Inserting Items:
INSERT INTO Items (ItemID, Name, Price, Description)
VALUES
(1, 'Cursed Mirror', 99.99, 'Shows a horrifying face when looked into.'),
(2, 'Talking Tombstone', 249.99, 'Gives cryptic advice when asked.'),
(3, 'Possessed Doll', 39.99, 'Moves on its own when nobody is looking.'),
(4, 'Invisible Sword', 199.99, NULL);

 * postgresql+psycopg2://@/postgres
4 rows affected.

[]

In [ ]:
%%sql
-- Inserting Orders:
INSERT INTO Orders (OrderID, OrderDate, CustomerID)
VALUES
(1001, '2023-06-21', 'CUST0001'),
(1002, '2023-06-22', 'CUST0002'),
(1003, '2023-06-23', 'CUST0003'),
(1004, '2023-06-24', 'CUST0004');

 * postgresql+psycopg2://@/postgres
4 rows affected.

[]

In [ ]:
%%sql
-- Inserting Order_Items:
INSERT INTO Order_Item (OrderID, ItemID, Quantity)
VALUES
(1001, 1, 2),
(1001, 2, 1),
(1002, 3, 1),
(1003, 2, 3),
(1004, 4, 1),
(1004, 1, 1);

 * postgresql+psycopg2://@/postgres
6 rows affected.

[]

## Updating and Deleting Data

In the life of a database, it's not only about inserting new data. There will be times when Wednesday needs to update existing information or even delete some data. This is where the SQL UPDATE and DELETE statements come into play.

The `UPDATE` statement allows you to modify existing records in a table. It's like casting a spell to transform an object into something else. The syntax is as follows:

```
UPDATE table_name
SET column1 = value1, column2 = value2,...
WHERE condition;
```

The `table_name` is the name of the table where you want to update data, `column1, column2,...` are the names of the columns to be updated, and `value1, value2,...` are the new values to be set. The WHERE clause specifies which record(s) should be updated. If the WHERE clause is omitted, all records will be updated!

For instance, if Gomez changes his email, Wednesday would need to update his record like this:

```
UPDATE Customer
SET Email = 'newgomez@addams.com'
WHERE CustomerID = 'CUST0001';
```

The DELETE statement removes one or more records from a table. It's like casting a vanishing spell to make data disappear. Here's the syntax:

```
DELETE FROM table_name
WHERE condition;
```

`table_name` is the name of the table where you want to delete data. The WHERE clause specifies which record(s) should be deleted. If the WHERE clause is omitted, all records will be deleted!

For example, if, for some unfathomable reason, the Cursed Mirror is no longer available, Wednesday would delete it from the 'Item' table like so:

```
DELETE FROM Item
WHERE Name = "Cursed Mirror";
```

But be careful! The `DELETE` statement is permanent and cannot be undone. Always double-check the condition in the `WHERE` clause before running a `DELETE` statement. It's also a good practice to perform regular backups of your data to safeguard against accidental deletions.

By mastering the `INSERT`, `UPDATE`, and `DELETE` statements, Wednesday can effectively manage her database, ensuring that her magic item shopping site remains current and accurate.

## ALTER TABLE
The ALTER TABLE statement serves as a tool for metamorphosis, allowing one to modify the structure of an existing table. This SQL command is akin to a wizard's spellbook in Wednesday Addams' Web Shop, granting you the power to change the attributes of magical items or even the properties of customers without disrupting the underlying essence of the table.

The ALTER TABLE statement can be employed for various tasks:

1.  **Adding Columns--**You can introduce new attributes. For instance, if Wednesday decides to add a 'LoyaltyPoints' column to the 'Customers' table, this can be done without creating a new table.

2.  **Modifying Columns--**Existing columns can be altered. If the 'Price' column in the 'Items' table needs to accommodate larger values, its data type can be changed.

3.  **Dropping Columns--**If a column becomes obsolete, like if Wednesday decides that phone numbers are no longer needed, it can be removed.

4.  **Renaming Table or Columns--**The table or its columns can be renamed for better clarity or due to a change in business logic.

5.  **Add or Drop Constraints--** Constraints like 'UNIQUE', 'FOREIGN KEY', or 'CHECK' can be added or removed. For example, if Wednesday starts selling items that can be ordered in fractions, the 'CHECK' constraint on 'Quantity' in the 'Order_Item' table may need to be revised.

6.  **Change Data Type--**The data type of a column can be changed, provided the change does not lead to data loss or logical inconsistencies.

Here's how you might use ALTER TABLE in the context of Wednesday Addams' Web Shop:

In [ ]:
%%sql
-- Add a 'LoyaltyPoints' column to 'Customers'
ALTER TABLE Customers ADD LoyaltyPoints INT;

-- Modify the 'Price' column in 'Items'
ALTER TABLE Items ALTER COLUMN Price TYPE DECIMAL(15,2);

-- Drop the 'Phone' column from 'Customers'
ALTER TABLE Customers DROP COLUMN Phone;

-- Rename the 'Order_Item' table to 'OrderDetails'
ALTER TABLE Order_Item RENAME TO OrderDetails;

 * postgresql+psycopg2://@/postgres
Done.
Done.
Done.
Done.

[]

## Summary: Wednesday's 10 Rules for Data Modeling

Let's help Wednesday consolidate her newfound database modeling knowledge with a list of ten key rules.

1.  *Start with a good plan:* Clearly define your objectives and plan your database around your needs. It's like casting a spell: you need to know what you want to achieve before you start the incantation.

2.  *Data Models are the Magic Mirror:* They don't tell you everything, but they reflect essential truths. Use them to visualize data structures and communicate with your team, but don't expect them to represent every detail perfectly.

3.  *Conceptualize before you materialize:* Always start with a conceptual model. It helps you understand the big picture without getting entangled in technical details.

4.  *Understand your business rules:* They're the incantations that make your database work. Distinguish between structural (organizing data) and procedural rules (performing operations). Set constraints where necessary.

5.  *Entities and Attributes are your Actors and Props:* Identify them carefully, keeping in mind that attributes can be mandatory or optional, volatile or stable. Each entity (actor) in your system has attributes (props) that define them.

6.  *Relationships bind your database:* Define relationships clearly. Understand cardinality (the numbers in the relationship) and optionality (the necessity of the relationship). Master one-to-one, one-to-many, and many-to-many relationships.

7.  *Unique Identifiers are your magic markers:* They distinctly identify each record in your table. You can use natural keys (inherent in the data) or create artificial keys (assigned for identification). Make thoughtful decisions about them.

8.  *Many-to-many relationships are tricksters:* They seem simple but can complicate your model. Use associative entities to handle them efficiently.

9.  *Choose the right potion for your data:* When transitioning to the physical model, choose the correct data types and constraints. Your choice affects storage, accuracy, and the type of operations you can perform.

10. *Data is a living creature:* It grows, it changes. Use INSERT to introduce new data, UPDATE to transform existing data, and DELETE to remove unwanted data. Be careful, especially with DELETE. It's a powerful spell that cannot be undone.

Armed with these rules, Wednesday is ready to take on the world of database modeling with confidence and a dash of her unique style.

## Review With Quizlet
Run the following cell to see the flashcards!

In [ ]:
%%html
<iframe src="https://quizlet.com/819346854/learn/embed?i=psvlh&x=1jj1" height="600" width="100%" style="border:0"></iframe>

## Exercises: Data Definition Language
1.  Create a new table called `Supplier` with columns for `SupplierID`, `Name`, `Address`, `Phone`, and `Email`. *Hint: Use the CREATE TABLE statement. Remember to choose appropriate data types.*

2.  Add a new column to the `Supplier` table called `Rating` that holds a number between 1 and 5. *Hint: You can use the ALTER TABLE statement to modify an existing table.*

3.  Insert a new supplier into the `Supplier` table with appropriate data. *Hint: Use the INSERT INTO statement.*

4.  Update the `Rating` of the supplier you just inserted to 4. *Hint: Use the UPDATE statement. Be sure to use the WHERE clause to specify the correct record.*

5. Insert a new item (of your choice) into the `Items` table.

6.  Update the `Price` of the new item to increase it by 10%. *Hint: The UPDATE statement can use mathematical expressions.*

7.  Create a new order in the `Orders` table that includes the new item. *Hint: You'll need to use INSERT INTO for both the `Order` and `OrderItem` tables.*

8.  Update the new order to add another item. *Hint: You'll need to use INSERT INTO on the `OrderItem` table.*

9. Delete the supplier you inserted from the `Supplier` table. *Hint: Use the DELETE statement, but remember that you might need to handle existing foreign key references first.*

10. (Optional/Bonus)
  1. Add a new column to the `Items` table called `SupplierID`. *Hint: You will need to use ALTER TABLE.*

  2. Make this column a foreign key that references which references the `Supplier` table. Hint: In Postgres, the syntax for this is:

  ```sql
  ALTER TABLE table_name
    ADD CONSTRAINT make_up_a_name
    FOREIGN KEY (new_column_name)
    REFERENCES referenced_table_name (referenced_column_name);
  ```
  3.  Insert a new item into the `Items` table that is supplied by the new supplier you inserted. *Hint: You'll need to know the SupplierID of the new supplier.*

In [ ]:
%%sql
--Ex 1

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 2

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 3

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 4

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 5

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 6

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 7

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 8

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 9

 * sqlite:///web_shop.sqlite
Done.

[]

In [ ]:
%%sql
--Ex 10

 * sqlite:///web_shop.sqlite
(sqlite3.OperationalError) near "%": syntax error
[SQL: %%sql
--Ex 10]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Table: Sample SQL Statements


| Description | SQL Statement |
| --- | --- |
| SQL code to create a new table named `Items` with `ItemID` as a unique key, `Name`, `Description`, `Price`, and `Category`. | `CREATE TABLE Items (ItemID INT PRIMARY KEY, Name VARCHAR(100) NOT NULL, Description VARCHAR(255), Price DECIMAL(10,2) NOT NULL, Category VARCHAR(50));` |
| SQL code to insert a new item into the `Items` table, a shrunken head with the name "Pugsley's Favorite". | `INSERT INTO Items (ItemID, Name, Description, Price, Category) VALUES (1, 'Pugsley''s Favorite', 'A shrunken head, quite popular with the young ones', 50.00, 'Curiosities');` |
| SQL code to update the description of "Pugsley's Favorite" to make it more appealing for a wider audience. | `UPDATE Items SET Description = 'A shrunken head, an unusual addition for any collection' WHERE Name = 'Pugsley''s Favorite';` |
| SQL code to delete "Pugsley's Favorite" from the `Items` table, as it was purchased by Uncle Fester. | `DELETE FROM Items WHERE Name = 'Pugsley''s Favorite';` |
| SQL code to add a NOT NULL constraint to the `Category` column, as every item must have a category. | `ALTER TABLE Items MODIFY Category VARCHAR(50) NOT NULL;` |
| SQL code to create a unique key constraint for the `Name` column, as each item should have a unique name. | `ALTER TABLE Items ADD CONSTRAINT uc_ItemName UNIQUE (Name);` |
| SQL code to update the `Price` of all items in the 'Curiosities' category by increasing the prices by 10%. | `UPDATE Items SET Price = Price * 1.1 WHERE Category = 'Curiosities';` |
| SQL code to delete all items in the 'Curiosities' category that are priced over 100. | `DELETE FROM Items WHERE Category = 'Curiosities' AND Price > 100;` |

## Glossary



| Term | Definition |
| --- | --- |
| Data Model | A framework used to structure, organize, and define the concepts and rules for data, often employed in designing databases or managing data in various formats. |
| Conceptual (Logical) Data Model | This represents the logical organization of the entire database. It details the entities, attributes, and relationships without regard to physical implementation or specific database technology. |
| Physical Data Model | Describes how data is physically stored in the database. It includes table structures, column names, data types, indexes, and constraints. |
| Entity-Relationship Diagram (ERD) | A visual representation of major entities within a system, their attributes, and the relationships among these entities. Commonly used in database design. |
| Business Rules | Explicit criteria that define and constrain the operations of a business, including the procedures it follows, the data it processes, and the actions it executes. |
| Structural Rules | Business rules that impose Constraints and standards on how data within a system is organized interacts with other data.  |
| Procedural Rules | Business rules that define the series of steps to be followed when a given data item is created, updated, or delated. |
| Chen Diagram | A type of ERD created by Peter Chen. It uses rectangles to represent entities, diamonds to represent relationships, and ovals to represent attributes. Entities are connected to their attributes and relationships through lines. |
| Crow's Foot Diagram | A form of ERD where entities are represented as boxes and relationships are lines between the boxes. It uses three prongs or a 'crow's foot' to represent 'many' in a one-to-many or many-to-many relationship, while a straight line or a circle represents 'one' or 'zero or one' respectively. |
| Junction Table | Also known as a bridge table or associative table, it is used in a relational database to resolve many-to-many relationships between tables. It consists of compound primary keys from both related tables along with additional information, if any. |
| Unique Identifier (UID) | A value that is guaranteed to be distinct among all records in a database or data set. |
| Primary Key | A field or combination of fields in a database that uniquely identify each record in a table. Primary keys do not allow null values and must contain unique values. |
| Foreign Key | A field (or collection of fields) in one table, that is used to identify a unique record in another table. It provides a link between data in two tables. |
| Simple Key | A single attribute or column that can uniquely identify a record in a table. Also known as a single-column key. |
| Composite Key | A combination of two or more columns in a table that can be used to uniquely identify each row in the table when the columns are combined. |
| Natural Key | A type of unique identifier that has intrinsic meaning in the real world and is typically used to identify an entity. For example, a social security number or an email address. |
| Artificial Key | Also known as a surrogate key, it is a unique identifier that has no intrinsic meaning but is solely used for identification purposes in a database. Often it is an auto-incrementing integer. |
| Data Definition Language (DDL) | A type of SQL command used to define or alter the structure of a database, including creating, altering, and deleting tables, indices, or views. |
| SQL Datatypes | The type of data that can be stored in a table column. Examples include: INT (integer), VARCHAR (variable-length character string), TEXT (large character string), DATE (date), FLOAT (floating point number), BOOLEAN (boolean value: TRUE, FALSE, or NULL). |