<a href="https://colab.research.google.com/github/brendanpshea/database_sql/blob/main/data/MarioBrosPlumbing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Connect sql magic
%load_ext sql
%sql sqlite:///mario_bros_plumbing.db

In [2]:
%%sql
CREATE TABLE Customers (
  customer_id INTEGER PRIMARY KEY,
  first_name TEXT,
  last_name TEXT,
  address TEXT,
  phone_number TEXT
);

CREATE TABLE Employees (
  employee_id INTEGER PRIMARY KEY,
  first_name TEXT,
  last_name TEXT,
  job_title TEXT,
  hire_date TEXT
);

CREATE TABLE Services (
  service_id INTEGER PRIMARY KEY,
  service_name TEXT,
  description TEXT,
  price REAL
);

CREATE TABLE Orders (
  order_id INTEGER PRIMARY KEY,
  customer_id INTEGER,
  employee_id INTEGER,
  order_date TEXT,
  total_amount REAL,
  FOREIGN KEY (customer_id) REFERENCES Customers (customer_id),
  FOREIGN KEY (employee_id) REFERENCES Employees (employee_id)
);

CREATE TABLE Order_Items (
  order_item_id INTEGER PRIMARY KEY,
  order_id INTEGER,
  service_id INTEGER,
  quantity INTEGER,
  FOREIGN KEY (order_id) REFERENCES Orders (order_id),
  FOREIGN KEY (service_id) REFERENCES Services (service_id)
);

 * sqlite:///mario_bros_plumbing.db
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
INSERT INTO Employees (employee_id, first_name, last_name, job_title, hire_date)
VALUES
  (1, 'Mario', 'Mario', 'Master Plumber', '1985-09-13'),
  (2, 'Luigi', 'Mario', 'Plumber', '1986-02-20'),
  (3, 'Toad', 'Toadstool', 'Apprentice Plumber', '2020-11-05');

 * sqlite:///mario_bros_plumbing.db
3 rows affected.

[]

In [4]:
%%sql
INSERT INTO Customers (customer_id, first_name, last_name, address, phone_number)
VALUES
  (1, 'Princess', 'Peach', 'Mushroom Castle, Toad Town', '(555) 123-4567'),
  (2, 'Yoshi', 'Dino', '24 Egg Island, Dinosaur Land', '(555) 987-6543'),
  (3, 'Daisy', 'Sarasa', '10 Sarasaland Way, Chai Kingdom', '(555) 456-7890'),
  (4, 'Toadette', 'Toadstool', '15 Mushroom St, Toad Town', '(555) 789-0123'),
  (5, 'Bowser', 'Koopa', '1 Bowser Castle, Dark Land', '(555) 654-3210'),
  (6, 'Wario', 'Wario', '100 Gold Coin Blvd, Diamond City', '(555) 321-0987'),
  (7, 'Waluigi', 'Wario', '101 Silver Coin Ave, Diamond City', '(555) 098-7654'),
  (8, 'Donkey', 'Kong', '50 Banana Jungle, DK Island', '(555) 111-2222'),
  (9, 'Diddy', 'Kong', '51 Banana Jungle, DK Island', '(555) 333-4444'),
  (10, 'Rosalina', 'Cosmic', 'Comet Observatory, Space', '(555) 555-6666'),
  (11, 'Cappy', 'Bonneter', '1 Hat Kingdom Way, Cap Kingdom', '(555) 777-8888'),
  (12, 'Pauline', 'Toyopolis', '1 New Donk City Plaza, Metro Kingdom', '(555) 999-0000');

 * sqlite:///mario_bros_plumbing.db
12 rows affected.

[]

In [5]:
%%sql
INSERT INTO Services (service_id, service_name, description, price)
VALUES
  (1, 'Pipe Repair', 'Fix leaky or broken pipes', 50.00),
  (2, 'Drain Cleaning', 'Clear clogged drains and pipes', 75.00),
  (3, 'Toilet Installation', 'Install a new toilet', 150.00),
  (4, 'Sink Replacement', 'Replace an old or damaged sink', 200.00),
  (5, 'Water Heater Repair', 'Fix issues with water heaters', 120.00),
  (6, 'Plumbing Inspection', 'Inspect plumbing systems for potential issues', 100.00),
  (7, 'Emergency Service', '24/7 emergency plumbing service', 250.00);

 * sqlite:///mario_bros_plumbing.db
7 rows affected.

[]

In [9]:
import sqlite3
import random
from datetime import datetime, timedelta

# Connect to the SQLite database
conn = sqlite3.connect('mario_bros_plumbing.db')
cursor = conn.cursor()

# Generate 500 random orders
for _ in range(500):
    # Select a random customer with weighted probabilities
    cursor.execute("SELECT customer_id FROM Customers ORDER BY RANDOM() * CASE "
                   "WHEN customer_id IN (1, 2, 3) THEN 3 "  # Customers 1, 2, and 3 are 3 times more likely
                   "WHEN customer_id IN (4, 5, 6) THEN 2 "  # Customers 4, 5, and 6 are 2 times more likely
                   "ELSE 1 END LIMIT 1")
    result = cursor.fetchone()
    if result is None:
        continue  # Skip this iteration if no customer is found
    customer_id = result[0]

    # Generate a random order date between 1985 and 2024
    start_date = datetime(1985, 1, 1)
    end_date = datetime(2024, 12, 31)
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    order_date = start_date + timedelta(days=random_number_of_days)

    # Select a random employee hired before the order date
    employee_id = None  # Initialize employee_id with a default value
    cursor.execute("SELECT employee_id FROM Employees WHERE hire_date <= ? ORDER BY RANDOM() LIMIT 1",
                   (order_date.strftime('%Y-%m-%d'),))
    result = cursor.fetchone()
    if result is not None:
        employee_id = result[0]

    if employee_id is None:
        continue  # Skip this iteration if no suitable employee is found

    # Insert the order into the Orders table
    cursor.execute("INSERT INTO Orders (customer_id, employee_id, order_date) VALUES (?, ?, ?)",
                   (customer_id, employee_id, order_date.strftime('%Y-%m-%d')))
    order_id = cursor.lastrowid

    # Generate random order items for the order
    num_items = random.randint(1, 5)
    for _ in range(num_items):
        # Select a random service with weighted probabilities
        cursor.execute("SELECT service_id, price FROM Services ORDER BY RANDOM() * CASE "
                       "WHEN service_id IN (1, 2) THEN 3 "  # Services 1 and 2 are 3 times more likely
                       "WHEN service_id IN (3, 4) THEN 2 "  # Services 3 and 4 are 2 times more likely
                       "ELSE 1 END LIMIT 1")
        result = cursor.fetchone()
        if result is None:
            continue  # Skip this iteration if no service is found
        service_id, price = result

        # Generate a random quantity
        quantity = random.randint(1, 3)

        # Insert the order item into the Order_Items table
        cursor.execute("INSERT INTO Order_Items (order_id, service_id, quantity) VALUES (?, ?, ?)",
                       (order_id, service_id, quantity))

    # Update the total amount for the order
    cursor.execute("UPDATE Orders SET total_amount = (SELECT SUM(Services.price * Order_Items.quantity) "
                   "FROM Order_Items JOIN Services ON Order_Items.service_id = Services.service_id "
                   "WHERE Order_Items.order_id = ?) WHERE order_id = ?", (order_id, order_id))

# Commit the changes and close the connection
conn.commit()
conn.close()

In [10]:
%%sql
SELECT * FROM Order_Items;

 * sqlite:///mario_bros_plumbing.db
Done.

[(1, 1, 3, 2),
 (2, 1, 7, 1),
 (3, 1, 2, 3),
 (4, 1, 4, 1),
 (5, 1, 4, 1),
 (6, 2, 2, 1),
 (7, 3, 2, 3),
 (8, 3, 6, 1),
 (9, 3, 4, 3),
 (10, 3, 4, 3),
 (11, 4, 1, 3),
 (12, 4, 1, 2),
 (13, 5, 2, 1),
 (14, 5, 2, 3),
 (15, 5, 3, 2),
 (16, 5, 2, 1),
 (17, 6, 6, 1),
 (18, 6, 4, 3),
 (19, 7, 2, 1),
 (20, 8, 3, 1),
 (21, 8, 1, 3),
 (22, 8, 2, 3),
 (23, 8, 3, 1),
 (24, 8, 5, 1),
 (25, 9, 2, 1),
 (26, 9, 6, 1),
 (27, 9, 2, 2),
 (28, 9, 3, 1),
 (29, 9, 2, 3),
 (30, 10, 1, 2),
 (31, 10, 5, 3),
 (32, 10, 2, 2),
 (33, 10, 3, 2),
 (34, 11, 3, 2),
 (35, 12, 1, 2),
 (36, 13, 6, 2),
 (37, 13, 4, 3),
 (38, 13, 1, 2),
 (39, 13, 1, 2),
 (40, 13, 1, 2),
 (41, 14, 1, 2),
 (42, 14, 1, 3),
 (43, 14, 2, 1),
 (44, 14, 1, 1),
 (45, 14, 4, 2),
 (46, 15, 3, 3),
 (47, 15, 5, 1),
 (48, 15, 4, 2),
 (49, 15, 4, 2),
 (50, 15, 4, 2),
 (51, 16, 2, 1),
 (52, 16, 2, 2),
 (53, 16, 1, 2),
 (54, 16, 2, 2),
 (55, 17, 1, 2),
 (56, 17, 4, 2),
 (57, 18, 2, 1),
 (58, 18, 4, 1),
 (59, 18, 3, 3),
 (60, 18, 4, 1),
 (61, 19, 3, 3),
 (62, 19, 1, 2),
 (63, 19, 2, 2),
 (64, 19, 3, 3),
 (65, 19, 1, 1),
 (66, 20, 3, 1),
 (67, 20, 1, 2),
 (68, 20, 7, 2),
 (69, 20, 1, 2),
 (70, 20, 5, 1),
 (71, 21, 3, 1),
 (72, 21, 5, 3),
 (73, 21, 1, 2),
 (74, 21, 3, 2),
 (75, 22, 6, 1),
 (76, 22, 3, 2),
 (77, 22, 2, 2),
 (78, 23, 4, 2),
 (79, 23, 4, 2),
 (80, 24, 3, 1),
 (81, 24, 1, 2),
 (82, 24, 2, 2),
 (83, 24, 5, 3),
 (84, 24, 2, 1),
 (85, 25, 7, 2),
 (86, 25, 1, 3),
 (87, 25, 2, 3),
 (88, 25, 3, 3),
 (89, 25, 4, 1),
 (90, 26, 2, 2),
 (91, 26, 1, 2),
 (92, 26, 1, 3),
 (93, 26, 2, 3),
 (94, 27, 1, 2),
 (95, 27, 6, 3),
 (96, 27, 1, 3),
 (97, 28, 2, 2),
 (98, 28, 1, 1),
 (99, 28, 7, 2),
 (100, 29, 3, 3),
 (101, 29, 4, 3),
 (102, 29, 5, 1),
 (103, 29, 4, 1),
 (104, 30, 2, 2),
 (105, 30, 2, 3),
 (106, 30, 4, 1),
 (107, 30, 1, 2),
 (108, 31, 3, 2),
 (109, 31, 2, 2),
 (110, 31, 6, 2),
 (111, 32, 1, 3),
 (112, 33, 2, 3),
 (113, 33, 2, 3),
 (114, 33, 1, 2),
 (115, 33, 4, 2),
 (116, 33, 2, 2),
 (117, 34, 7, 1),
 (118, 34, 2, 1),
 (119, 34, 4, 2),
 (120, 35, 3, 3),
 (121, 35, 2, 3),
 (122, 35, 3, 1),
 (123, 35, 6, 2),
 (124, 36, 1, 3),
 (125, 36, 2, 3),
 (126, 36, 2, 1),
 (127, 36, 2, 3),
 (128, 36, 2, 2),
 (129, 37, 1, 1),
 (130, 37, 3, 1),
 (131, 37, 2, 1),
 (132, 37, 1, 1),
 (133, 37, 2, 2),
 (134, 38, 4, 2),
 (135, 38, 1, 1),
 (136, 38, 1, 3),
 (137, 38, 3, 1),
 (138, 39, 1, 3),
 (139, 40, 5, 2),
 (140, 40, 1, 1),
 (141, 40, 7, 2),
 (142, 40, 2, 2),
 (143, 40, 1, 2),
 (144, 41, 2, 2),
 (145, 42, 4, 1),
 (146, 43, 2, 3),
 (147, 43, 7, 3),
 (148, 43, 6, 1),
 (149, 43, 2, 2),
 (150, 43, 2, 3),
 (151, 44, 7, 1),
 (152, 45, 2, 3),
 (153, 45, 3, 2),
 (154, 46, 2, 3),
 (155, 46, 4, 1),
 (156, 46, 3, 1),
 (157, 46, 1, 3),
 (158, 46, 3, 1),
 (159, 47, 1, 3),
 (160, 48, 5, 2),
 (161, 49, 2, 3),
 (162, 49, 1, 2),
 (163, 49, 4, 2),
 (164, 50, 1, 1),
 (165, 50, 1, 2),
 (166, 50, 2, 2),
 (167, 50, 1, 1),
 (168, 50, 1, 2),
 (169, 51, 4, 1),
 (170, 51, 1, 3),
 (171, 51, 3, 3),
 (172, 51, 4, 3),
 (173, 51, 3, 3),
 (174, 52, 1, 2),
 (175, 52, 1, 3),
 (176, 53, 4, 3),
 (177, 53, 2, 2),
 (178, 53, 1, 2),
 (179, 53, 2, 2),
 (180, 54, 1, 1),
 (181, 54, 3, 1),
 (182, 54, 1, 3),
 (183, 54, 3, 1),
 (184, 55, 2, 2),
 (185, 55, 2, 2),
 (186, 55, 3, 3),
 (187, 56, 4, 3),
 (188, 56, 2, 2),
 (189, 56, 3, 3),
 (190, 56, 5, 1),
 (191, 56, 7, 2),
 (192, 57, 2, 3),
 (193, 57, 6, 1),
 (194, 57, 7, 2),
 (195, 57, 4, 3),
 (196, 57, 4, 1),
 (197, 58, 4, 3),
 (198, 58, 4, 3),
 (199, 58, 2, 1),
 (200, 59, 3, 1),
 (201, 59, 1, 3),
 (202, 59, 4, 1),
 (203, 60, 2, 3),
 (204, 61, 2, 3),
 (205, 62, 2, 1),
 (206, 63, 1, 2),
 (207, 63, 1, 1),
 (208, 63, 1, 3),
 (209, 64, 1, 1),
 (210, 64, 1, 2),
 (211, 65, 4, 2),
 (212, 65, 2, 2),
 (213, 66, 1, 3),
 (214, 66, 1, 1),
 (215, 67, 3, 2),
 (216, 68, 4, 1),
 (217, 68, 2, 3),
 (218, 69, 1, 2),
 (219, 69, 3, 3),
 (220, 69, 2, 2),
 (221, 70, 3, 3),
 (222, 70, 7, 1),
 (223, 71, 2, 2),
 (224, 71, 7, 1),
 (225, 72, 3, 2),
 (226, 72, 1, 3),
 (227, 72, 3, 3),
 (228, 72, 2, 1),
 (229, 73, 4, 2),
 (230, 74, 5, 1),
 (231, 74, 1, 1),
 (232, 74, 4, 3),
 (233, 74, 4, 1),
 (234, 75, 4, 3),
 (235, 75, 1, 1),
 (236, 75, 2, 3),
 (237, 75, 3, 1),
 (238, 76, 2, 2),
 (239, 76, 5, 2),
 (240, 76, 1, 2),
 (241, 76, 1, 3),
 (242, 76, 1, 1),
 (243, 77, 2, 3),
 (244, 78, 1, 3),
 (245, 78, 4, 2),
 (246, 79, 4, 1),
 (247, 79, 2, 3),
 (248, 79, 3, 2),
 (249, 79, 1, 3),
 (250, 79, 5, 2),
 (251, 80, 4, 1),
 (252, 80, 1, 3),
 (253, 81, 1, 3),
 (254, 81, 2, 2),
 (255, 82, 4, 2),
 (256, 83, 2, 3),
 (257, 83, 7, 3),
 (258, 83, 1, 2),
 (259, 83, 1, 1),
 (260, 84, 2, 1),
 (261, 84, 1, 1),
 (262, 85, 3, 1),
 (263, 85, 1, 3),
 (264, 85, 2, 3),
 (265, 86, 4, 1),
 (266, 86, 4, 2),
 (267, 86, 2, 1),
 (268, 86, 2, 1),
 (269, 86, 1, 2),
 (270, 87, 2, 1),
 (271, 87, 4, 3),
 (272, 87, 4, 2),
 (273, 87, 5, 2),
 (274, 88, 1, 1),
 (275, 88, 6, 3),
 (276, 88, 3, 1),
 (277, 88, 3, 2),
 (278, 89, 1, 1),
 (279, 89, 4, 1),
 (280, 89, 2, 2),
 (281, 89, 2, 2),
 (282, 89, 1, 1),
 (283, 90, 1, 2),
 (284, 90, 2, 3),
 (285, 90, 4, 1),
 (286, 90, 2, 3),
 (287, 91, 4, 3),
 (288, 91, 3, 1),
 (289, 92, 3, 3),
 (290, 92, 2, 1),
 (291, 92, 7, 3),
 (292, 92, 2, 3),
 (293, 92, 2, 1),
 (294, 93, 1, 3),
 (295, 93, 1, 3),
 (296, 93, 3, 2),
 (297, 93, 4, 3),
 (298, 94, 2, 2),
 (299, 94, 4, 1),
 (300, 95, 2, 2),
 (301, 95, 2, 1),
 (302, 95, 2, 3),
 (303, 96, 2, 1),
 (304, 96, 2, 2),
 (305, 97, 4, 1),
 (306, 98, 3, 2),
 (307, 98, 5, 3),
 (308, 99, 1, 3),
 (309, 99, 4, 3),
 (310, 100, 1, 2),
 (311, 100, 1, 2),
 (312, 101, 2, 2),
 (313, 101, 3, 2),
 (314, 102, 7, 3),
 (315, 102, 1, 3),
 (316, 102, 4, 3),
 (317, 102, 4, 1),
 (318, 102, 2, 3),
 (319, 103, 1, 3),
 (320, 104, 1, 2),
 (321, 104, 6, 3),
 (322, 104, 2, 1),
 (323, 104, 1, 2),
 (324, 104, 1, 2),
 (325, 105, 3, 3),
 (326, 105, 1, 1),
 (327, 105, 2, 1),
 (328, 106, 1, 2),
 (329, 106, 1, 3),
 (330, 106, 7, 1),
 (331, 106, 3, 2),
 (332, 106, 7, 1),
 (333, 107, 3, 1),
 (334, 107, 2, 3),
 (335, 107, 1, 1),
 (336, 107, 3, 1),
 (337, 107, 1, 2),
 (338, 108, 6, 3),
 (339, 108, 2, 1),
 (340, 108, 2, 2),
 (341, 108, 4, 1),
 (342, 109, 2, 1),
 (343, 109, 1, 2),
 (344, 109, 2, 3),
 (345, 109, 6, 1),
 (346, 109, 2, 1),
 (347, 110, 1, 3),
 (348, 110, 4, 3),
 (349, 110, 4, 2),
 (350, 110, 3, 1),
 (351, 110, 2, 3),
 (352, 111, 6, 3),
 (353, 111, 3, 1),
 (354, 111, 1, 3),
 (355, 112, 3, 1),
 (356, 112, 4, 1),
 (357, 112, 2, 1),
 (358, 112, 1, 1),
 (359, 112, 4, 2),
 (360, 113, 1, 2),
 (361, 113, 1, 3),
 (362, 114, 1, 2),
 (363, 115, 6, 2),
 (364, 115, 3, 1),
 (365, 116, 3, 2),
 (366, 116, 2, 1),
 (367, 116, 7, 3),
 (368, 116, 2, 2),
 (369, 117, 4, 2),
 (370, 118, 1, 3),
 (371, 118, 1, 3),
 (372, 119, 3, 2),
 (373, 119, 1, 1),
 (374, 120, 2, 3),
 (375, 121, 3, 3),
 (376, 122, 1, 3),
 (377, 122, 4, 2),
 (378, 123, 2, 3),
 (379, 123, 2, 2),
 (380, 123, 1, 2),
 (381, 123, 2, 2),
 (382, 124, 5, 1),
 (383, 124, 3, 1),
 (384, 125, 1, 2),
 (385, 125, 4, 2),
 (386, 125, 1, 2),
 (387, 125, 2, 2),
 (388, 126, 2, 3),
 (389, 126, 1, 2),
 (390, 126, 3, 2),
 (391, 126, 5, 2),
 (392, 126, 2, 3),
 (393, 127, 3, 3),
 (394, 128, 6, 1),
 (395, 129, 3, 3),
 (396, 129, 1, 1),
 (397, 129, 1, 1),
 (398, 130, 3, 1),
 (399, 131, 3, 3),
 (400, 131, 1, 1),
 (401, 132, 5, 1),
 (402, 132, 1, 3),
 (403, 132, 2, 2),
 (404, 133, 4, 3),
 (405, 133, 3, 2),
 (406, 134, 2, 3),
 (407, 134, 4, 3),
 (408, 135, 2, 2),
 (409, 135, 2, 3),
 (410, 135, 1, 1),
 (411, 136, 1, 2),
 (412, 136, 2, 1),
 (413, 136, 4, 3),
 (414, 136, 2, 2),
 (415, 137, 4, 1),
 (416, 137, 1, 2),
 (417, 137, 4, 1),
 (418, 138, 2, 3),
 (419, 138, 1, 2),
 (420, 138, 1, 3),
 (421, 138, 3, 3),
 (422, 138, 4, 2),
 (423, 139, 5, 1),
 (424, 139, 4, 1),
 (425, 140, 5, 3),
 (426, 140, 7, 3),
 (427, 140, 4, 3),
 (428, 140, 1, 3),
 (429, 140, 4, 2),
 (430, 141, 3, 1),
 (431, 142, 4, 1),
 (432, 142, 1, 3),
 (433, 143, 1, 1),
 (434, 143, 1, 3),
 (435, 143, 5, 2),
 (436, 144, 2, 1),
 (437, 144, 2, 2),
 (438, 144, 4, 1),
 (439, 144, 1, 2),
 (440, 145, 2, 3),
 (441, 146, 3, 1),
 (442, 146, 2, 3),
 (443, 146, 4, 1),
 (444, 146, 2, 2),
 (445, 147, 4, 3),
 (446, 147, 3, 2),
 (447, 147, 2, 2),
 (448, 147, 3, 2),
 (449, 148, 1, 1),
 (450, 149, 3, 3),
 (451, 149, 6, 1),
 (452, 150, 1, 2),
 (453, 150, 7, 2),
 (454, 150, 2, 2),
 (455, 150, 2, 2),
 (456, 151, 2, 2),
 (457, 151, 2, 2),
 (458, 151, 3, 3),
 (459, 152, 5, 1),
 (460, 152, 3, 1),
 (461, 152, 3, 1),
 (462, 152, 2, 2),
 (463, 153, 5, 1),
 (464, 153, 2, 3),
 (465, 153, 3, 1),
 (466, 154, 3, 3),
 (467, 154, 1, 3),
 (468, 154, 1, 3),
 (469, 154, 2, 2),
 (470, 155, 1, 2),
 (471, 155, 1, 2),
 (472, 155, 1, 3),
 (473, 155, 2, 1),
 (474, 156, 2, 1),
 (475, 156, 3, 2),
 (476, 156, 2, 3),
 (477, 156, 2, 1),
 (478, 157, 4, 2),
 (479, 157, 2, 1),
 (480, 157, 1, 2),
 (481, 158, 1, 2),
 (482, 159, 1, 1),
 (483, 159, 1, 1),
 (484, 160, 1, 3),
 (485, 161, 2, 1),
 (486, 161, 1, 2),
 (487, 161, 4, 1),
 (488, 162, 1, 3),
 (489, 162, 1, 1),
 (490, 162, 1, 3),
 (491, 163, 4, 1),
 (492, 163, 5, 2),
 (493, 163, 1, 3),
 (494, 163, 1, 2),
 (495, 163, 7, 2),
 (496, 164, 5, 3),
 (497, 164, 7, 2),
 (498, 164, 4, 1),
 (499, 164, 4, 1),
 (500, 164, 2, 2),
 (501, 165, 3, 1),
 (502, 165, 4, 2),
 (503, 166, 7, 3),
 (504, 166, 3, 3),
 (505, 166, 2, 3),
 (506, 166, 2, 3),
 (507, 166, 2, 2),
 (508, 167, 4, 1),
 (509, 167, 1, 2),
 (510, 168, 3, 2),
 (511, 168, 6, 2),
 (512, 168, 2, 2),
 (513, 169, 3, 1),
 (514, 169, 2, 2),
 (515, 170, 1, 1),
 (516, 170, 7, 2),
 (517, 171, 4, 2),
 (518, 171, 3, 2),
 (519, 172, 7, 2),
 (520, 173, 3, 3),
 (521, 174, 1, 1),
 (522, 175, 7, 3),
 (523, 175, 4, 2),
 (524, 175, 4, 1),
 (525, 175, 6, 1),
 (526, 175, 5, 2),
 (527, 176, 3, 2),
 (528, 176, 7, 1),
 (529, 177, 1, 2),
 (530, 178, 2, 1),
 (531, 178, 3, 2),
 (532, 179, 5, 2),
 (533, 179, 3, 2),
 (534, 179, 2, 3),
 (535, 180, 3, 3),
 (536, 180, 2, 3),
 (537, 180, 2, 2),
 (538, 180, 1, 1),
 (539, 180, 2, 1),
 (540, 181, 2, 2),
 (541, 181, 1, 1),
 (542, 182, 1, 1),
 (543, 182, 2, 1),
 (544, 182, 1, 1),
 (545, 183, 2, 3),
 (546, 183, 2, 2),
 (547, 184, 4, 3),
 (548, 185, 4, 1),
 (549, 185, 1, 2),
 (550, 186, 2, 1),
 (551, 186, 2, 2),
 (552, 186, 3, 2),
 (553, 187, 2, 3),
 (554, 187, 4, 2),
 (555, 188, 4, 2),
 (556, 188, 1, 1),
 (557, 189, 2, 2),
 (558, 190, 1, 1),
 (559, 191, 2, 2),
 (560, 192, 5, 1),
 (561, 192, 2, 3),
 (562, 192, 4, 1),
 (563, 192, 2, 1),
 (564, 192, 1, 1),
 (565, 193, 2, 3),
 (566, 193, 1, 2),
 (567, 193, 4, 3),
 (568, 193, 1, 3),
 (569, 193, 2, 1),
 (570, 194, 4, 1),
 (571, 194, 2, 2),
 (572, 195, 2, 3),
 (573, 195, 4, 3),
 (574, 196, 7, 3),
 (575, 196, 3, 2),
 (576, 196, 1, 3),
 (577, 197, 1, 3),
 (578, 197, 3, 1),
 (579, 198, 3, 3),
 (580, 198, 2, 2),
 (581, 198, 4, 3),
 (582, 198, 3, 3),
 (583, 199, 3, 2),
 (584, 199, 3, 3),
 (585, 200, 1, 1),
 (586, 201, 4, 2),
 (587, 201, 4, 2),
 (588, 201, 3, 2),
 (589, 201, 2, 1),
 (590, 201, 6, 1),
 (591, 202, 3, 3),
 (592, 202, 2, 1),
 (593, 202, 2, 1),
 (594, 202, 1, 1),
 (595, 202, 2, 3),
 (596, 203, 1, 2),
 (597, 204, 7, 3),
 (598, 204, 2, 3),
 (599, 205, 1, 3),
 (600, 205, 5, 3),
 (601, 205, 2, 3),
 (602, 205, 3, 2),
 (603, 206, 1, 3),
 (604, 206, 5, 2),
 (605, 206, 4, 2),
 (606, 207, 2, 2),
 (607, 207, 1, 2),
 (608, 207, 4, 2),
 (609, 208, 1, 1),
 (610, 208, 1, 2),
 (611, 208, 2, 2),
 (612, 208, 1, 2),
 (613, 208, 4, 3),
 (614, 209, 3, 2),
 (615, 209, 3, 1),
 (616, 210, 1, 2),
 (617, 210, 5, 3),
 (618, 210, 1, 2),
 (619, 210, 4, 2),
 (620, 211, 3, 2),
 (621, 212, 4, 3),
 (622, 213, 2, 1),
 (623, 213, 2, 2),
 (624, 214, 1, 1),
 (625, 214, 4, 3),
 (626, 214, 2, 3),
 (627, 215, 1, 1),
 (628, 215, 2, 3),
 (629, 215, 4, 3),
 (630, 215, 1, 3),
 (631, 216, 4, 3),
 (632, 216, 4, 2),
 (633, 216, 4, 3),
 (634, 216, 4, 1),
 (635, 216, 2, 3),
 (636, 217, 7, 1),
 (637, 217, 4, 2),
 (638, 218, 2, 1),
 (639, 219, 7, 1),
 (640, 219, 1, 2),
 (641, 219, 2, 2),
 (642, 219, 4, 2),
 (643, 220, 7, 2),
 (644, 220, 3, 3),
 (645, 220, 5, 2),
 (646, 220, 2, 3),
 (647, 221, 2, 3),
 (648, 222, 1, 3),
 (649, 222, 2, 2),
 (650, 223, 7, 2),
 (651, 224, 5, 3),
 (652, 224, 1, 2),
 (653, 224, 3, 2),
 (654, 225, 3, 2),
 (655, 225, 1, 2),
 (656, 225, 4, 1),
 (657, 226, 1, 2),
 (658, 226, 2, 3),
 (659, 226, 3, 1),
 (660, 226, 7, 1),
 (661, 227, 1, 2),
 (662, 227, 1, 3),
 (663, 227, 3, 3),
 (664, 227, 1, 1),
 (665, 227, 1, 3),
 (666, 228, 1, 1),
 (667, 228, 1, 2),
 (668, 228, 6, 1),
 (669, 229, 3, 3),
 (670, 229, 3, 2),
 (671, 229, 2, 2),
 (672, 229, 2, 3),
 (673, 230, 2, 1),
 (674, 230, 3, 1),
 (675, 231, 4, 1),
 (676, 232, 1, 1),
 (677, 232, 5, 2),
 (678, 232, 1, 3),
 (679, 232, 3, 3),
 (680, 233, 4, 3),
 (681, 234, 6, 2),
 (682, 234, 2, 1),
 (683, 234, 2, 2),
 (684, 234, 1, 2),
 (685, 235, 3, 2),
 (686, 235, 3, 1),
 (687, 235, 2, 3),
 (688, 235, 1, 3),
 (689, 235, 6, 1),
 (690, 236, 4, 3),
 (691, 236, 4, 3),
 (692, 236, 2, 2),
 (693, 237, 3, 2),
 (694, 238, 1, 2),
 (695, 238, 2, 2),
 (696, 239, 1, 2),
 (697, 240, 2, 2),
 (698, 241, 1, 3),
 (699, 241, 4, 3),
 (700, 242, 6, 3),
 (701, 242, 1, 3),
 (702, 242, 2, 2),
 (703, 242, 1, 2),
 (704, 243, 4, 2),
 (705, 243, 3, 1),
 (706, 244, 4, 3),
 (707, 245, 1, 2),
 (708, 245, 1, 2),
 (709, 245, 3, 2),
 (710, 245, 3, 3),
 (711, 246, 6, 3),
 (712, 246, 4, 1),
 (713, 246, 1, 2),
 (714, 246, 5, 1),
 (715, 246, 1, 1),
 (716, 247, 2, 1),
 (717, 247, 3, 1),
 (718, 247, 3, 1),
 (719, 248, 5, 2),
 (720, 248, 2, 1),
 (721, 248, 4, 2),
 (722, 248, 3, 3),
 (723, 248, 2, 3),
 (724, 249, 2, 3),
 (725, 249, 2, 3),
 (726, 250, 1, 3),
 (727, 250, 5, 2),
 (728, 250, 1, 3),
 (729, 250, 4, 3),
 (730, 251, 3, 2),
 (731, 251, 5, 3),
 (732, 251, 5, 1),
 (733, 251, 2, 3),
 (734, 251, 5, 2),
 (735, 252, 6, 1),
 (736, 252, 5, 1),
 (737, 252, 3, 1),
 (738, 252, 3, 1),
 (739, 252, 6, 2),
 (740, 253, 7, 3),
 (741, 253, 7, 2),
 (742, 253, 1, 1),
 (743, 254, 2, 3),
 (744, 255, 2, 2),
 (745, 255, 2, 2),
 (746, 256, 1, 1),
 (747, 256, 2, 2),
 (748, 256, 2, 1),
 (749, 256, 1, 2),
 (750, 257, 1, 3),
 (751, 258, 3, 2),
 (752, 258, 5, 2),
 (753, 258, 3, 3),
 (754, 258, 2, 2),
 (755, 258, 3, 1),
 (756, 259, 1, 2),
 (757, 259, 5, 3),
 (758, 259, 2, 1),
 (759, 260, 1, 3),
 (760, 260, 4, 2),
 (761, 260, 2, 3),
 (762, 261, 1, 1),
 (763, 261, 2, 3),
 (764, 261, 1, 1),
 (765, 261, 4, 3),
 (766, 262, 4, 1),
 (767, 262, 2, 2),
 (768, 263, 1, 3),
 (769, 263, 3, 2),
 (770, 264, 1, 1),
 (771, 264, 1, 2),
 (772, 265, 2, 1),
 (773, 265, 6, 2),
 (774, 265, 4, 2),
 (775, 265, 3, 3),
 (776, 266, 2, 1),
 (777, 266, 2, 2),
 (778, 266, 2, 2),
 (779, 267, 4, 2),
 (780, 267, 2, 2),
 (781, 267, 2, 2),
 (782, 267, 3, 2),
 (783, 267, 1, 1),
 (784, 268, 2, 3),
 (785, 268, 2, 3),
 (786, 268, 7, 1),
 (787, 269, 2, 3),
 (788, 270, 5, 2),
 (789, 270, 1, 1),
 (790, 270, 4, 1),
 (791, 271, 1, 2),
 (792, 271, 6, 1),
 (793, 271, 2, 2),
 (794, 271, 3, 1),
 (795, 272, 1, 2),
 (796, 272, 2, 2),
 (797, 272, 2, 3),
 (798, 273, 3, 3),
 (799, 273, 2, 2),
 (800, 273, 1, 3),
 (801, 273, 5, 2),
 (802, 274, 1, 3),
 (803, 274, 3, 1),
 (804, 274, 2, 2),
 (805, 274, 4, 1),
 (806, 274, 3, 2),
 (807, 275, 1, 2),
 (808, 275, 5, 2),
 (809, 275, 4, 1),
 (810, 275, 1, 3),
 (811, 276, 2, 1),
 (812, 276, 2, 1),
 (813, 276, 1, 3),
 (814, 276, 3, 3),
 (815, 276, 5, 2),
 (816, 277, 2, 2),
 (817, 277, 2, 2),
 (818, 278, 4, 2),
 (819, 278, 1, 2),
 (820, 279, 4, 2),
 (821, 279, 3, 2),
 (822, 280, 1, 2),
 (823, 281, 1, 1),
 (824, 281, 6, 3),
 (825, 281, 5, 2),
 (826, 281, 3, 1),
 (827, 281, 2, 3),
 (828, 282, 1, 3),
 (829, 282, 6, 2),
 (830, 282, 5, 1),
 (831, 283, 1, 3),
 (832, 283, 4, 1),
 (833, 284, 2, 1),
 (834, 284, 6, 1),
 (835, 284, 3, 2),
 (836, 284, 5, 3),
 (837, 285, 2, 3),
 (838, 285, 4, 2),
 (839, 286, 2, 1),
 (840, 286, 1, 1),
 (841, 286, 2, 1),
 (842, 287, 2, 1),
 (843, 287, 3, 2),
 (844, 287, 2, 3),
 (845, 287, 4, 3),
 (846, 287, 1, 3),
 (847, 288, 3, 2),
 (848, 289, 4, 1),
 (849, 289, 7, 2),
 (850, 290, 3, 2),
 (851, 290, 1, 2),
 (852, 291, 1, 2),
 (853, 291, 1, 3),
 (854, 292, 1, 2),
 (855, 293, 4, 3),
 (856, 293, 2, 2),
 (857, 293, 4, 2),
 (858, 293, 1, 2),
 (859, 294, 5, 1),
 (860, 295, 5, 2),
 (861, 295, 2, 3),
 (862, 295, 3, 3),
 (863, 296, 1, 3),
 (864, 297, 1, 3),
 (865, 297, 3, 2),
 (866, 298, 3, 1),
 (867, 298, 4, 1),
 (868, 298, 2, 3),
 (869, 298, 2, 1),
 (870, 299, 1, 1),
 (871, 299, 3, 2),
 (872, 300, 1, 3),
 (873, 300, 1, 2),
 (874, 300, 2, 1),
 (875, 300, 1, 1),
 (876, 300, 3, 2),
 (877, 301, 2, 1),
 (878, 301, 2, 1),
 (879, 302, 4, 3),
 (880, 302, 4, 3),
 (881, 303, 2, 3),
 (882, 303, 1, 2),
 (883, 303, 2, 2),
 (884, 303, 4, 3),
 (885, 303, 7, 2),
 (886, 304, 1, 1),
 (887, 304, 1, 2),
 (888, 305, 6, 1),
 (889, 306, 2, 1),
 (890, 306, 3, 2),
 (891, 306, 4, 3),
 (892, 307, 7, 2),
 (893, 307, 3, 2),
 (894, 307, 3, 3),
 (895, 307, 4, 2),
 (896, 307, 3, 2),
 (897, 308, 3, 3),
 (898, 308, 3, 2),
 (899, 309, 1, 1),
 (900, 309, 6, 2),
 (901, 309, 3, 1),
 (902, 309, 2, 2),
 (903, 309, 1, 1),
 (904, 310, 2, 3),
 (905, 311, 5, 3),
 (906, 311, 2, 3),
 (907, 311, 4, 2),
 (908, 311, 4, 2),
 (909, 311, 2, 3),
 (910, 312, 2, 3),
 (911, 313, 2, 1),
 (912, 313, 4, 3),
 (913, 314, 7, 3),
 (914, 314, 7, 1),
 (915, 314, 7, 2),
 (916, 314, 3, 1),
 (917, 314, 7, 3),
 (918, 315, 5, 2),
 (919, 315, 1, 3),
 (920, 316, 2, 3),
 (921, 316, 1, 3),
 (922, 316, 7, 3),
 (923, 316, 1, 2),
 (924, 317, 3, 1),
 (925, 317, 5, 2),
 (926, 317, 1, 3),
 (927, 317, 2, 2),
 (928, 317, 4, 3),
 (929, 318, 4, 3),
 (930, 318, 2, 3),
 (931, 318, 4, 2),
 (932, 318, 1, 3),
 (933, 318, 1, 3),
 (934, 319, 1, 1),
 (935, 320, 7, 3),
 (936, 320, 2, 1),
 (937, 320, 6, 1),
 (938, 320, 1, 2),
 (939, 320, 2, 3),
 (940, 321, 3, 2),
 (941, 322, 1, 3),
 (942, 323, 3, 1),
 (943, 323, 1, 1),
 (944, 323, 1, 3),
 (945, 323, 1, 2),
 (946, 324, 7, 1),
 (947, 324, 1, 2),
 (948, 324, 2, 3),
 (949, 325, 3, 1),
 (950, 325, 2, 2),
 (951, 326, 2, 3),
 (952, 326, 1, 3),
 (953, 326, 1, 1),
 (954, 326, 1, 2),
 (955, 327, 3, 3),
 (956, 327, 1, 1),
 (957, 328, 1, 1),
 (958, 329, 2, 1),
 (959, 329, 4, 2),
 (960, 329, 5, 1),
 (961, 329, 2, 2),
 (962, 330, 2, 3),
 (963, 330, 2, 2),
 (964, 331, 3, 2),
 (965, 331, 2, 1),
 (966, 331, 2, 2),
 (967, 332, 4, 1),
 (968, 332, 5, 3),
 (969, 332, 3, 1),
 (970, 333, 3, 3),
 (971, 333, 1, 2),
 (972, 334, 4, 1),
 (973, 334, 4, 1),
 (974, 334, 5, 1),
 (975, 334, 1, 3),
 (976, 335, 6, 2),
 (977, 335, 2, 1),
 (978, 335, 4, 2),
 (979, 335, 3, 3),
 (980, 336, 3, 2),
 (981, 336, 7, 1),
 (982, 336, 4, 1),
 (983, 336, 2, 1),
 (984, 336, 1, 2),
 (985, 337, 2, 1),
 (986, 337, 2, 1),
 (987, 338, 2, 2),
 (988, 339, 1, 2),
 (989, 339, 7, 2),
 (990, 340, 3, 2),
 (991, 341, 3, 2),
 (992, 341, 1, 3),
 (993, 342, 3, 3),
 (994, 342, 4, 1),
 (995, 342, 1, 3),
 (996, 343, 5, 3),
 (997, 343, 2, 1),
 (998, 343, 1, 1),
 (999, 344, 1, 1),
 (1000, 344, 1, 3),
 ...]